[2015-04-30 14:39] senlin opened #1 "add function to remove SEO feature from admin bar"
[The Bar Steward plugin](https://wordpress.org/plugins/the-bar-steward/) by Lee Rickler removed the SEO stuff from the Admin Bar.

Have a look to add that in upcoming version.

[2015-04-30 15:44] #1 closed

[2015-07-17 09:30] webtaurus opened #2 "get it to work on Google Analytics van Yoast as wel?"
Hi Piet, like your plugin a lot... much as I like Yoast, I do not need to see him all over the place in the backend(s)... I'd rather have a drink with him at a WordCamp :-)
Maybe there is a way to make the adds disappear in his other plugins at the same time :-)

[2015-08-07 20:20] jawittdesigns opened #3 "Error loading scripts"
OK, so there seems to be something pretty weird going on. I don't know if it's a conflict with another plugin or just an issue with this one.

I'm getting the error because when SO Clean UP WP SEO is active, something is trying to load scripts that don't exist?

here an example of the error
```http://cjhs2.dev/wp-includes/js/tinymce/plugins/codepress-admin-columns/codepress-admin-columns.php/plugi

[2015-08-08 04:03] senlin commented on #3
Thanks for reporting this issue @jawittdesigns we will look into it (try to duplicate it) and report back to you. The only thing we changed on v1.6 is added a nag id to the css, but we'll see.

[2015-08-08 04:25] senlin commented on #3
We cannot reproduce this issue.

Dumb question: do you have Yoast SEO installed **and** are you on a multisite install?

As you can see from the [commit](https://github.com/senlin/so-clean-up-wp-seo/commit/91a4a20e68277a5810044a6caf7ab3b1e8204684#diff-9c84d77f53ff45cbe56815ae4e44657d), literally the only thing that changed between v1.5 and v1.6 was the addition of `, #wpseo-dismiss-gsc` on line 12

[2015-08-08 04:34] senlin commented on #2
Hi @webtaurus so sorry for not replying sooner, I should receive notices from this, but I haven't.

I don't use Yoast's Google Analytics plugin, but that is a good idea indeed!

It seems that with every release Team Yoast adds another *feature* to the plugin(s) and I keep adding stuff to mine to make that sh*t disappear again ;)

Instead of blanketing out everything, I am actually inclined to addi

[2015-08-08 16:55] jawittdesigns commented on #3
I nailed down the issue. It wan't a plugin , but some code I have for disabling the (yuck) emojis. The issue was being caused because I was was running a method with add_filter through an add_action('init). It seemed to create some type of weird loop with all the plugins.

Why your plugin was the trigger for this? I'm not sure. Here's a gist of the code. If you want to try and debug it.
https://gi

[2015-08-09 04:28] senlin commented on #3
Hi Jason, thanks for checking and glad to hear that it wasn't my plugin.

The plugin does hook into the `admin_init`[here](https://github.com/senlin/so-clean-up-wp-seo/blob/master/so-clean-up-wp-seo.php#L111).

Maybe disable the emojis in a different way? I'm using [this function](https://github.com/senlin/Code-Snippets/blob/master/Functions/Admin-Dashboard/remove-emojis.php) and just tested this

[2015-08-11 17:52] MarcWoodyard opened #4 "Multisite Support?"
I just network activated the plugin on my multisite network, but the Yoast SEO dasbhoard messages are still there. Is this normal?

Thanks,
Marc

<img width="819" alt="wordpress-seo-dashboard-messages" src="https://cloud.githubusercontent.com/assets/5026965/9205440/172403a6-4017-11e5-9874-0270f78c30c1.PNG">

[2015-08-11 19:52] senlin commented on #4
Thanks for reporting this, tbh we had not yet tested it on Multisite. We will add this to our todo list and in the meantime you can use the plugin on Multisite if you activate it on a per-site basis.
Apologies for any inconvenience.

[2015-08-11 20:10] senlin opened #5 "Add settings page"
With a Settings page in place we enable the user to clean up individual items, instead of the current blanket rule.

[2015-08-11 20:47] ModMarc commented on #4
Looking forward to the update. Thanks for the help!

[2015-08-13 04:31] #3 closed

[2015-09-15 19:23] dycweb opened #6 "Yoast SEO/Google XML Sitemaps nag"
Hi. I'm hoping you could add support in your plugin for the Yoast SEO conflict nag for Google XML Sitemaps plugin. This one is annoyingly pervasive. *It appears on every page in the back end for ALL user levels even after being dismissed.* It's very confusing to my contributors because they don't understand what it means and can't access plugins. A plea to Yoast has been ignored because I am not a

[2015-09-16 01:37] senlin commented on #6
Hi April,

Thanks for your request.

Although I understand the problem, I don't think that the SO Clean Up Yoast SEO plugin is a good vehicle to solve the issue. The reason is that the nag only appears when 2 plugins are at play.

I would therefore suggest to keep using your own fix or to release it as a plugin yourself perhaps?

[2015-09-16 02:13] senlin commented on #6
Can you by the way let me know which Sitemap plugin it is exactly? There are quite a few of them and the *Google XML Sitemap* hasn't been updated in 3 years...

[2015-09-22 18:20] dycweb commented on #6
My apologies for the delay in answering your question. The plugin I'm using is https://wordpress.org/plugins/google-sitemap-generator/ and it seems to have been updated earlier this year and several times in 2014.

I suspect the nag appears whenever any other plugin that generates an XML sitemap for Google is installed. The problem is that the nag appears continuously even when you've elected not

[2015-09-23 00:46] senlin commented on #6
Thanks for your reply April.

I installed the plugin to see what happens. Quite a bizarre warning indeed. I cannot check whether it indeed keeps popping up after dismissing it, but I believe you immediately as that is the exact same with the other nags and "warnings".

It is fairly easy to completely get rid of that warning once and for all. But the problem with this is that Yoast SEO has a whole

[2015-10-02 03:37] #6 closed

[2015-10-02 10:42] jourdanritchey opened #7 "Page Analysis Disabled on Posts"
The "Page Analysis" tab in the Yoast SEO box that appears when editing posts displays "Page Analysis has been disabled." when activating SO Clean Up Yoast SEO. Is this intentional? Is there an option to selectively enable the "Page Analysis" tab?

Thanks!

[2015-10-02 11:06] senlin commented on #7
The plugin indeed adds a filter that disables the page analysis as you can see [here](https://github.com/senlin/so-clean-up-wp-seo/blob/master/so-clean-up-wp-seo.php#L82).

I am planning a Settings page for [version 2.0.0](https://github.com/senlin/so-clean-up-wp-seo/milestones/version%202.0.0), until then I'm afraid it will remain disabled.

[2015-10-20 09:45] tkes opened #8 "yoast translate promo box"
Can you add removal of yoast translate promo box `<div id="i18n_promo_box"..` as well?

Thanks for the plugin.

[2015-10-20 09:52] tkes opened #9 "Admin Bar"
The feature *removes the Yoast SEO settings from the Admin Bar* works fine, but with 2.3.5/1.7.2 still a `SEO` entry appears in Admin Bar, which has some links to keyword research resources, `id=wp-admin-bar-wpseo-kwresearch`.

Can you add removal of whole SEO entry in Admin Bar?

Thanks for the plugin.

[2015-10-20 10:22] senlin commented on #9
That entry we left on purpose, because it is not specific about Yoast SEO, but more generally catered towards SEO.

If you want to remove them, then I would like to suggest to remove them via the functions.php file of your theme. We have added the options to our plugin, but commented them out, so you can easily find them: https://github.com/senlin/so-clean-up-wp-seo/blob/master/so-clean-up-wp-seo.

[2015-10-20 10:24] senlin commented on #8
Similar as your other question, we will address this once we have rebuild the plugin with a Settings page. Explanation in the plugin file: https://github.com/senlin/so-clean-up-wp-seo/blob/master/so-clean-up-wp-seo.php#L90

[2015-10-20 10:26] #7 closed

[2015-10-20 14:28] tkes commented on #9
Thanks for quick feedback.

PS. Would suggest to use `remove_menu(..)` for Admin Bar items, instead of `remove_node(..)` as in your commented code, internally both do (at the moment) the same thing but the plugin uses `add_menu(..)` for these items, so `remove_menu(..)` somehow "feels" more correct.

[2015-10-20 14:30] senlin commented on #9
except that `remove_menu` doesn't work and `remove_node` does :)

[2015-10-22 10:20] tkes commented on #9
Strange, `remove_menu` works fine here in Admin Bar.

Which version of WordPress are you using? In [WP 4.3.1 Admin Bar class](https://core.trac.wordpress.org/browser/tags/4.3.1/src/wp-includes/class-wp-admin-bar.php#L86) `remove_menu` just calls `remove_node`, would be interesting, why it does not work for you.

[2015-10-22 10:35] senlin commented on #9
if `remove_menu` calls `remove_node`, then why would we be using `remove_menu` in the first place? ;)

[2015-12-26 18:59] dk253 opened #10 "Still getting the Better Wordpress Google XML Sitemaps warning"
Howdy!  Great plugin idea... but the huge warning keeps coming up.

I'm running multisite and have activated your plugin on the individual sites.  I just upgraded to the latest version.  I've attached the screenshot.

![yoast warining](https://cloud.githubusercontent.com/assets/6131657/12007579/6d462610-abbf-11e5-9653-2898843c1654.png)

Thanks!

[2015-12-26 23:21] senlin commented on #10
Hi, thanks for your question.

The SO Clean Up Yoast SEO plugin does in fact not hide this specific nag. An [earlier issue](https://github.com/senlin/so-clean-up-wp-seo/issues/6) also addressed this already. You can find the answer with the reason why I cannot remove this specific nag so easily here: https://github.com/senlin/so-clean-up-wp-seo/issues/6#issuecomment-142463601

Short version: the c

[2015-12-28 19:26] dk253 commented on #10
Sorry for the dupe!  Thank you very much for your answer and your patience!

[2015-12-28 23:34] senlin commented on #10
No worries :)

[2015-12-28 23:34] #10 closed

[2016-02-04 08:21] #9 closed

[2016-02-04 08:24] senlin commented on #5
v2.0.0 has just been released

[2016-02-04 08:24] #5 closed

[2016-02-05 00:02] senlin commented on #4
With the release of version 2.0.0 when you network activate the plugin you need to go to the individual settings pages and save them. When you activate the plugin per site you don't need to do anything, unless of course you want to change the default settings.

[2016-02-05 00:05] senlin commented on #8
Can anyone check whether this promotion box still exist? I cannot find it anymore.

[2016-02-26 10:30] senlin commented on #8
no response, so I'm closing this out. if it pops up again, feel free to re-open this issue.

[2016-02-26 10:30] #8 closed

[2016-02-26 10:34] senlin commented on #2
@webtaurus sorry for the long silence.

I have decided to not pursue this as an integration. And since I don't use the Google Analytics of Yoast either (I don't even use GA), I would like to propose to instead fork my plugin and change it around so it hides the bloat for the other plugin. If you indeed fork my plugin, then please **don't forget to change the names of the functions** otherwise thin

[2016-02-26 10:34] #2 closed

[2016-02-29 19:57] merchantguru opened #12 "Hide content analysis nag by post type"
Some post types I'd like to view the content analysis, and others not. For example, on pages, I use ACF fields for content, and so the Yoast content analysis section is useless. For my "team" post type, I use the regular the_content field, so the content analysis section is useful.

[2016-03-01 03:32] senlin commented on #12
Hi Joe, thanks for your feature request.

There actually was [a plugin](https://wordpress.org/plugins/wp-seo-acf-content-analysis/) that enabled the content analysis of ACF fields, but that was before version 3.0 of the Yoast SEO plugin; most likely that is broken now as they issued a warning post about that sometime mid last year.

There seems to be another, but I hear mixed reports, so am not su

[2016-03-01 16:41] merchantguru commented on #12
I'll definitely check out that new yoast acf plugin b/c that's what I really want - thx for point it out!

For the UI, I would think a multiselect field would be perfect for that section. The WP Migrate plugin has one that works well.

![migrate_db_pro_ _wp_performance_pro_ _wordpress](https://cloud.githubusercontent.com/assets/658245/13433931/e344c842-df88-11e5-8b96-08eea8b89618.png)

Here's a li

[2016-03-02 02:27] senlin commented on #12
Hi Joe,

Thanks for the comments and suggestion.

If team Yoast indeed is taking over the development of the content analysis, then I think that is a much better solution, than for my plugin to add it in. What I mean is Joost's fork is of much more value to his plugin. I therefore propose to shelve your request for the moment and first see where the fork is going. Is that okay with you?

My line o

[2016-03-02 22:28] merchantguru commented on #12
No problem - if that forked acf content plugin or Yoast's eventually analyzes acf content, then usually that's all that need as the cpt's should use Yoast's SEO content analysis. The only exception might be non-public cpts which wouldn't need SEO analysis... but those aren't common.

As for whether you're plugin will ever be irrelevant, I don't believe so. See:
https://twitter.com/MerchantGuru/sta

[2016-03-03 02:45] senlin commented on #12
Hi Joe, thank for the link, interesting. I no longer participate in any conversations with Mr de Valk as he likes to twist things around and pulls things out of context.
So yes you're right, the plugin will probably have to exist for a long time to come :) I will just have to try to keep up with any changes.

[2016-03-04 00:38] merchantguru commented on #12
cool. ok - will close this ticket then. thnx for the discussion!

[2016-03-04 00:38] #12 closed

[2016-03-07 02:29] reidbiztech opened #13 "Is it time to just fork Yoast SEO?"
Having just put this together:
https://wordpress.org/plugins/typing-lag-fix-for-yoast-seo/

And having just found your plugin. I am led to the question,

Is it time to just fork Yoast SEO?

[2016-03-07 02:56] senlin commented on #13
Hi thanks for your message. Interesting idea for a plugin. I hadn't noticed these things yet, but then again I don't use any of the things you describe that would cause such a lag :)

In December last year we tried forking the plugin. Many people were initially cheering, but the people that actually wanted to help putting the fork together was not enough to sustain development.

It is a huge task

[2016-03-07 13:32] reidbiztech commented on #13
Ya, you'll only see the typing lag with Yoast SEO if working on a client computer with limited resources and when working on long complicated pages. That said, it is absolutely insane for Yoast SEO to be reloading and parsing shortcodes **on every single keystroke**. That decision alone is enough for me to want to abandon using it.

Interesting to hear that you guys were looking at a fork back in

[2016-03-07 13:33] #13 closed

[2016-03-07 15:47] senlin commented on #13
The transition is very easy and painless when you use the SEO Data Transporter plugin. All the info about that is on the description, scroll down to "Transferring SEO data using SEO Data Transporter". I'm sure you'll like the plugin :)

[2016-04-18 02:43] senlin commented on #6
The [Google Analytics plugin](https://wordpress.org/plugins/google-analytics-for-wordpress/) has been rebranded and taken over by [Syed Balkhi](https://syedbalkhi.com/), I would like to suggest to address any concerns to him directly as he seems quite responsive to improve the plugin and not harass its users.

[2016-04-22 09:17] tbnv opened #14 "Ad in page markup"
Hello,

Do you take the comment tags that the SEO plugin adds in the markup into account? I still can see
``
and
``

[2016-04-22 09:40] senlin commented on #14
Yeah, we're not going to do anything about that, that has nothing to do with the nags in the WordPress Dashboard.

[2016-04-22 09:40] #14 closed

[2016-07-18 00:15] afragen opened #17 "Move options to array"
To continue discussing moving the options to an array as brought up in #16

Moving settings to an array simplifies for a single call to get and save options. If you want I can work on a branch for that.

[2016-07-18 04:57] afragen commented on #17
I played around for a while and this is way to difficult. I'm gonna pass.

[2016-07-18 04:57] #17 closed

[2016-08-13 18:04] #4 closed

[2016-08-17 22:23] ryanhellyer opened #18 "Network activation"
Why does the plugin need to be activated network wide?

I have the Yoast plugin activated on some sites, but not all, but oddly I need to have the SO Clean up WP SEO plugin network activated. It seems strange to me.

[2016-08-18 00:13] senlin commented on #18
Hi Ryan,

Thanks for review over at wp.org earlier and your question here.

As a matter of fact, @afragen just did a PR to (finally) make the plugin fully multisite compatible. In [his PR](https://github.com/senlin/so-clean-up-wp-seo/pull/16#issuecomment-235095814) we decided that since the plugin is basically for the admin of the site, it would be better to have only the settings show in the Netw

[2016-08-18 00:16] ryanhellyer commented on #18
Since writing this, I realised a problem with doing it per site. I don't want to do the settings for the plugin on every individual site. I just want to do it once. So in that scenario, the settings should really be in the network admin.

You could add a per site options page, and if it's network activated, then have the network settings page override that. I'm not sure if that would create unnece

[2016-08-18 00:17] afragen commented on #18
If the Yoast plugin isn't active on a subsite nothing really happens.

[2016-08-18 00:19] ryanhellyer commented on #18
@afragen I see that. But it was just a little confusing initially, and it makes the plugin list look a bit weird when Yoast SEO is not network activated and this plugin is.

It's probably not worth changing it. I hadn't thought the scenario of having to set it every single time for each new site activation until after posting here.

[2016-10-06 02:45] jakejackson1 opened #19 "Yoast Adds More bloat"
Looks like a "Go Premium" sub menu has been added under the main SEO menu. I probably wouldn't have noticed it if it wasn't for the big orange star also included.

[2016-10-06 08:01] senlin commented on #19
Hi Jake,
Thanks for your suggestion. Are you suggesting to include a setting that removes the star?

[2016-10-06 08:39] jakejackson1 commented on #19
A "Premium" tab specifically for upselling and provides no value to the open source plugin seems like bloat to me.

[2016-10-06 11:28] senlin commented on #19
Hmmm, I find this a tricky one, especially since the [proposed guidelines](https://github.com/Ipstenu/wporg-plugin-guidelines/blob/master/guideline-11.md) sort of encourage in-plugin advertising for premium services.

The tab is not hijacking the dashboard or the rest of the plugin and you don't have to click on the tab as it clearly says what you can expect.

I am much more inclined to remove the

[2016-10-06 15:11] #19 closed

[2016-10-06 15:12] #18 closed

[2016-10-06 19:34] jakejackson1 commented on #19
Sounds great. A setting to optionally disable that menu item would also be excellent and would compliment the other inline advertising you can disable. If I get some free time I'll look at a PR.

[2016-10-06 23:42] biggens55 opened #20 "can't update plugin"
my sftp uses port 22 but you seem to default to port 21. how can I update

using 2.4.0

[2016-10-07 00:48] senlin commented on #20
Hi, you should be able to update the plugin from with the WP Dashboard, no need for (S)FTP. But in case you want to use (S)FTP, you should be able to do that too. In that case it is probably better to first delete the plugin and then upload it again.
Either way, this actually does not have anything to do with the plugin...

[2016-10-07 11:35] #20 closed

[2016-12-31 21:13] lancem631 opened #21 "All SEO Scores"
Installed your plugin Version 2.5.4 on WP 4.7 hoping to hide 'All SEO Scores' dropdown on Posts admin backend.  So far no effect.  Please advise fix.  Thank you.

[2017-02-28 22:29] senlin commented on #21
Apologies for the late response, for some reason I did not get notified...

If you still have the issue, can you please add a screenshot to clarify?

[2017-03-19 18:14] jdalen opened #22 "Hiding Yoast SEO from User Profile"
Hi, I'd just like to leave a feature request  - I haven't been able to get either of these instructions working:
http://www.lubus.in/blog/wordpress-yoast-seo-hide-settings-user-profile-page-19

Ideally we would like to hide the Yoast SEO settings from the User Profiles - for our subscribers that login into the website:
Title to use for Author page
Meta description to use for Author page
and the th

[2017-03-19 21:09] senlin commented on #22
Hi, thank for your message.

If I understand your request correctly, you would like to be able to have additional settings for your user-case scenario where you can hide the things you mention?

In my opinion this has nothing to do with bloat the Yoast SEO plugin adds to a site, but is something bespoke that you would like to have for your site. Unless I receive heaps of other requests for this, i

[2017-03-19 21:29] jdalen commented on #22
Hi Piet,

Yes, this helps very much!!  Thank you for your time looking into this
for me.  Very much appreciated!

Jessica

On 2017-03-19 5:09 PM, Piet Bos wrote:

[2017-03-20 08:39] #22 closed

[2017-03-23 05:32] soaro77 opened #23 "New SEO Column on Posts Page"
It appears Yoast has added a new column called Readability to the posts page. I modified the source in my site to get rid of it but thought you might also be interested in the modification I made. I didn't know if you had developers for the code or if anyone could so I'm posting this as an issue. It probably should be added as a separate item in the settings but I just wanted it gone.

In the page

[2017-03-23 05:39] soaro77 commented on #21
He is talking about the All SEO Scores dropdown on the All Posts admin page. It's ID is wpseo-filter.

[2017-03-23 09:28] senlin commented on #21
Thanks for clarifying that @soaro77
I don't think this falls under the "bloat" the plugin tries to hide.

[2017-03-23 09:28] #21 closed

[2017-03-23 09:31] senlin commented on #23
Hi @soaro77
Thanks for catching this, it indeed seems there is yet another column!
In the upcoming version we will add an option to remove it.
In the meantime your enhancement will work.
I will update this thread once I have released the new version.
Thanks,
Piet

[2017-03-25 01:32] senlin commented on #23
Just released the new version that addresses this issue and a bunch of others. Thanks again for your input, Curtis!

[2017-03-25 01:32] #23 closed

[2017-04-02 08:57] mundschenk-at opened #24 "in_array called with string parameter in so_cuws_hide_visibility_css"
In `CUWS::so_cuws_hide_visibility_css`, there are [several calls to `in_array`](https://github.com/senlin/so-clean-up-wp-seo/blob/89bc60479207e5e79a75aea3f6db089b46aa91ae/includes/class-so-clean-up-wp-seo.php#L168) with `$this->options['hide_admincolumns']` as its second parameter.

`in_array` expects this parameter to be an array, and at least on my install that assumption is not (always?) true.

[2017-04-02 09:04] mundschenk-at commented on #24
OK, it's because the last update changed an option name or something, because previously a column was ticked in the hide admin columns setting.

However, not checking actual input and "requiring" that one checkbox has to be ticked without enforcing the choice is a really bad practice and should be fixed in the code. Also, having to tick "Show all columns" when the other possible choices are "Hide

[2017-04-02 14:23] senlin commented on #24
Thanks for your feedback.

Do you have any suggestions?

[2017-04-02 14:51] mundschenk-at commented on #24
I'd suggest adding proper sanitization callbacks to all the settings fields. [There already is code to invoke those callsbacks](https://github.com/senlin/so-clean-up-wp-seo/blob/master/includes/class-so-clean-up-wp-seo-settings.php#L317), but currently the `'callback'` index is always undefined.

As for the actual sanitization function, you could look at [the way I do it in Media Credit](https://g

[2017-04-03 08:12] senlin commented on #24
Thanks for your input. Your PR will be greatly appreciated.

[2017-04-03 10:04] mundschenk-at commented on #24
@senlin I'm not sure if I'll have enough time to create a PR in the near future ...

[2017-04-03 10:16] senlin commented on #24
@mundschenk-at
No worries, I'm not in a hurry and as long as it is not critical and you're not too bothered by it, I guess it will have to wait until you have time :)

Thanks for bringing it up though, maybe someone else feels the urge to contribute further...

[2017-04-03 13:48] afragen commented on #24
Is there a PHP error or notice occurring?

Checkboxes and radio buttons have a state where they have a value of '1' when checked and are unset when not checked. The tests in the code are for `! empty()`, which is appropriate.

Is there some issue I'm not seeing?

[2017-04-03 13:57] afragen commented on #24
I see the issue now. I'll make a PR soon.

[2017-04-03 13:58] senlin commented on #24
Hi Andy, thanks for joining.

I think something messed up with the latest update.

First I discovered that from my version 2.5.5 to 2.6.0 the admin columns for title meta description and focus keyword were in fact still there and the readability column was added to the yoast plugin.

So instead of going from 4 to 2 admin columns, the yoast plugin went from 4 to 5 columns

In 2.6.0 I had changed ch

[2017-04-03 14:03] afragen commented on #24
Hey Piet!

I'll take a look, possibly later today, depends upon my free time in front of a computer. This should be relatively simple.

Andy

[2017-04-03 15:22] senlin commented on #24
Thanks in advance Andy!

[2017-04-04 01:25] afragen commented on #24
A little more involved but I think it'll be worth it longterm.

[2017-04-04 01:45] afragen opened #26 "Yoast admin bar icon exists in Network Admin"
I know there's now a setting inside Yoast to remove the Yoast icon from the admin bar. However, this is only accessible from an individual sites Yoast settings and not from the Yoast network settings.

Can we bring back the setting for removing this so it works for the Network Admin too?

[2017-04-04 10:09] senlin commented on #26
Hi Andy, thanks for all your PRs and input.

As far as I remember my plugin never had a setting that removes the entire drop down menu and icon. We did have a setting that removes some items from it, can't find it at the moment.

I don't mind adding it now, we can use the same explanation we use on other options:
_Although it can be easily dismissed on a per user basis, this setting hides the Admi

[2017-04-04 10:20] senlin commented on #26
Looks like PHPStorm is very strict :)

[2017-04-04 10:46] senlin commented on #24
It indeed looks a bit more involved...

One of the issues that @mundschenk-at brought up, the one where it should be possible there is no checkbox selected (for the admincolumns setting). I thought I actually did see it addressed, but that could be in your [other PR](https://github.com/senlin/so-clean-up-wp-seo/pull/27)?

[2017-04-04 10:48] mundschenk-at commented on #24
It's not at the moment, but the UI improvement could probably be moved to a separate issue. It's a related point, but not the same as this one.

[2017-04-04 11:01] senlin commented on #26
Found a small issue with the readability column setting.

Although the column does not show in the Edit Posts/Pages screens (as per the default setting), for some reason the box has not been ticked. Please see attached screenshot.

![so_hide_seo_bloat_settings_ _testbed_ _wordpress](https://cloud.githubusercontent.com/assets/650066/24653604/fd8caac6-1925-11e7-96c2-179a6fb8b955.png)

[2017-04-04 11:01] senlin commented on #24
Found a small issue with the readability column setting.

Although the column does not show in the Edit Posts/Pages screens (as per the default setting), for some reason the box has not been ticked. Please see attached screenshot.

![so_hide_seo_bloat_settings_ _testbed_ _wordpress](https://cloud.githubusercontent.com/assets/650066/24653604/fd8caac6-1925-11e7-96c2-179a6fb8b955.png)

[2017-04-04 11:06] senlin commented on #24
I fixed a typo, readibility to readability, in [`includes/class-so-clean-up-wp-seo.php`](https://github.com/senlin/so-clean-up-wp-seo/commit/3ce759fd4ef6faaee2d6c2508bc7f9a0fec97340)

[2017-04-04 11:25] senlin commented on #24
Cannot replicate the issue above.

@mundschenk-at and @afragen can you please test the plugin in its current state and see whether it holds up upgrading to this version from 2.5.x or 2.6.x? There is still 55.3% of the active users on 2.5.x and 28.5% are running 2.6.x. The rest is on older versions.

[2017-04-04 13:34] afragen commented on #24
@senlin I added https://github.com/senlin/so-clean-up-wp-seo/blob/master/includes/class-so-clean-up-wp-seo.php#L139 which should take care of old and current users. They will see a default array of settings and need to rest to their preferences. If you consider this a _breaking_ change I would version to 3.0.0.

#25 includes a fix if nothing is checked in Admin Columns it will default to checking

[2017-04-04 13:54] senlin commented on #24
Hi Andy,

Thanks for your explanation. I see the first one now, not sure if this change should be considered _breaking_; do you think it is?

Regarding the fix on [L103](https://github.com/senlin/so-clean-up-wp-seo/blob/master/includes/class-so-clean-up-wp-seo-settings.php#L103) in #25 shouldn't that be the opposite? If not any checkbox has been checked, then it means that the user wants to **show

[2017-04-04 13:55] afragen commented on #24
I wasn't paying attention to which of the boxes in admin columns was checked by default. I'll take a look.

[2017-04-04 14:01] afragen commented on #24
That should be a simple change in https://github.com/senlin/so-clean-up-wp-seo/blob/master/includes/class-so-clean-up-wp-seo-settings.php#L103 to an empty array. I guess I had the logic reversed. I'll have to make another change for this too, but shouldn't be that difficult. Famous last words. 😉

So remove show all columns and allow no selection for show all with no explicit option as this is defa

[2017-04-04 14:03] afragen commented on #24
I think that anything that changes the users settings or requires them to re-enter is a weak breaking change. No fatale but still requires some intervention over a simple update.

[2017-04-04 14:05] senlin commented on #24
I just swapped out 'all' for 'none' and then when you don't check any of the boxes and save the settings, it automatically ticks the Show All box.

So this still means that the Show All box needs to be there, not entirely what @mundschenk-at had in mind I think as he mentioned earlier that that is bad UI...

Nopt sure how to solve that and since he doesn't seem to have the intention to submit a PR

[2017-04-04 14:31] afragen commented on #24
I think since the concept of the plugin is to hide things we could omit all the _all_ and _none_ boxes and allow for no checked boxes. It may mean moving off radio buttons. If you like this direction I could create a PR for it. Let me know.

[2017-04-04 15:14] afragen commented on #26
How do you wish to proceed? It's only global from admin or super admin making it so. Clearly leaving it unchecked still allows individual site admins to remove via Yoast's settings. Yoast removes the entire menu too.

[2017-04-04 18:32] senlin commented on #26
No it is fine, the setting in Yoast indeed also removes the entire thing. I did not remember that we once had it. Sorry for the misunderstanding.

[2017-04-04 19:00] senlin commented on #24
Omitting the all and none boxes is a good idea I think, simple is better after all.

But I tried the PR and that is throwing a whole bunch of errors, all having to do with the settings that had all/none choices...

In a brand new test install I just set up I added the PR to the current 2.6.1 and I got a Fatal Error:

`Fatal error: Uncaught Error: Call to undefined method CUWS::get_settings_as_arra

[2017-04-04 21:34] afragen commented on #24
How did you apply the patch? The `get_settings_as_array()` doesn't exist any more. In the most recent version. Let me test against that update.

[2017-04-04 22:15] senlin commented on #24
I replaced the two files with the two files of the PR. Is there another way?

[2017-04-04 23:15] afragen commented on #24
I just pushed another commit to the PR that I think should fix this.

[2017-04-04 23:23] afragen commented on #24
Where do I start. I can use GitHub Updater to switch between branches or rollback to any of the last 3 tags. As this plugin doesn't have the appropriate headers to use GitHub Updater, I have another plugin I use to add plugins to GitHub Updater. Sneaky huh?

[2017-04-05 01:48] #26 closed

[2017-04-05 09:28] senlin commented on #24
Ah yes, of course! Well I can have a look to integrate that too, not sure if it would really be beneficial to this plugin?

Further to your PR #28 , the settings page now indeed works as it should, but now the settings do not seem to have any effect whatsoever on the different parts of the site. In other words, no matter how the settings are set, they do not have the desired effect on the Yoast ba

[2017-04-05 14:19] afragen commented on #24
I have fixed the issue with the multiple options not having effect locally. Now I seem to have an issue with one of the options for a single setting not being saved. Trying to track it down.

[2017-04-05 14:42] afragen commented on #24
I've updated #28 and made a new PR #29 to `pr/28` branch. My issue with setting not being saved was because I didn't comment out the code to reset settings for versions < 3.0.0

[2017-04-05 15:03] afragen commented on #24
I have commented out the version check as the logic is flawed and it will not fire as intended. I need to rethink this.

[2017-04-05 15:18] senlin commented on #24
I don't know anymore, we are now a long way from the original issue that @mundschenk-at reported.

Maybe it is faster to simply revert to 2.5.5 and start from there?

[2017-04-05 15:22] afragen commented on #24
I'll do some testing later.

[2017-04-05 18:53] burkeallen opened #30 "PHP Warning: in_array() expects parameter 2 to be array"
We are getting the following errors when this plugin is activated

PHP Warning:  in_array() expects parameter 2 to be array, boolean given in wp-content/plugins/so-clean-up-wp-seo/includes/class-so-clean-up-wp-seo.php on line 247
PHP Warning:  in_array() expects parameter 2 to be array, boolean given in wp-content/plugins/so-clean-up-wp-seo/includes/class-so-clean-up-wp-seo.php on line 251
PHP War

[2017-04-05 19:10] senlin commented on #30
@burkeallen
Hi, thanks for reporting this, it is related to issue #24 where we're working on.

Fortunately a PHP Warning is not an Error, and the Warning only shows with `WP_DEBUG` set to `true` or when notices, warnings and error are logged in a debug file.

You can solve the issue by re-setting the the checkboxes for the admin columns.

I will close this issue now and you can follow the progress

[2017-04-05 19:10] #30 closed

[2017-04-05 19:23] burkeallen commented on #30
Thank you,

I will follow the instructions to remove this warning

*Burke Allen*
*NovoLogic, Inc*
*mobile 770-265-4362 *

On Wed, Apr 5, 2017 at 3:10 PM, Piet Bos <notifications@github.com> wrote:

[2017-04-06 15:56] afragen commented on #24
In my testing, updating from v2.2.0 (which I had on my repo) to 2.6.1 (in wp.org) shows all the in_array errors. Updating from 2.2.0 to current PR, no errors. Updating from 2.6.1 to current PR also no errors.

Seems like it's good for a merge, unless there are other issues.

[2017-04-06 16:43] senlin commented on #24
There are still 2 PRs that are not merged yet. So which version do you have working, with or without those PRs?

[2017-04-06 17:35] afragen commented on #24
The PR is the same just to 2 different branches, `master` and `pr/28`.

[2017-04-06 19:24] senlin commented on #24
okay, merged the PRs and downloaded the master. Then I installed 2.6.0 and updated via WP to 2.6.1. I then took the master copy and dropped all the files in my local plugin.

I have warnings appearing on:
* Content (Readability) / Keyword (SEO) Score
* Help center

For the Admin columns no boxes are ticked, whereas before dropping the new files there I had them to show the Focus Keyword only.

The

[2017-04-06 19:58] afragen commented on #24
Using your repo I wiped all the `cuws` data from the database.
I installed 2.5.5 and activated the plugin.
I updated via WP to 2.6.1 from the repo and have all the in_array errors
I updated via GitHub Updater to the `master` branch here.
Plugin remains active and all PHP errors are gone after a page refresh.

This most closely approximates the update experience from within WP.

I didn't save any n

[2017-04-06 19:59] afragen commented on #24
You will need to update the readme.txt for changes as well as the version number.

[2017-04-06 22:38] senlin commented on #24
The question really is what it does for the user. Does it indeed hide all the admin columns or does it keep the settings the user already set before the update?

I guess we will never really know and I will add a line to the changelog that users will need to re-save the settings after the update.

Would you mind if I make you "official" contributor to the plugin here and on WP?

[2017-04-06 23:12] afragen commented on #24
My best guess is that it will create new settings for the user, the default ones, and they will need to re-save personal settings. Another reason to version is at 3.0.0 as it _breaks_ the existing settings.

I wouldn't mind at all if you made me an _official_ contributor. I will still defer to you regarding releases.

[2017-04-06 23:20] senlin commented on #24
That's how we will do it then, thanks.

And thank you for accepting the _official_ contributor role, welcome! 👍

[2017-04-07 01:19] senlin commented on #24
@mundschenk-at
[v3.0.0](https://github.com/senlin/so-clean-up-wp-seo/releases/tag/v3.0.0) fixes the issue you originally reported. Update will be shortly available from the WP.org Repo.

[2017-04-07 01:30] #24 closed

[2017-04-07 01:35] senlin commented on #30
@burkeallen
We just released [version 3.0.0](https://github.com/senlin/so-clean-up-wp-seo/releases/tag/v3.0.0) which fixes this issue.

[2017-04-19 19:17] VinceZaZa opened #31 "Remove Yoast Comments from Source Code"
This is a feature request:

You have come this far - how about going to the next step and having the option to remove the HTML comments that identify Yoast SEO plugin in the source code.

Option to remove the URL at the top of the sitemap.xml

Thank you

[2017-04-19 20:29] senlin commented on #31
Hi Vince,
Thanks for your feature request.
What is the reason you would want these comments gone? Without them it is still very easy to see which plugin adds the code to the source.

[2017-04-20 09:24] VinceZaZa commented on #31
Hi Piet,
You are right, it is still easy to find which plugin is being used. However, to the casual observer, clients etc it is not so easy or rather not so obvious.
There is already a plugin - 'Remove Yoast SEO comments' https://en-gb.wordpress.org/plugins/remove-yoast-seo-comments/ that does this reasonably well.  However, it means another plugin that must be added. I think having it all in one

[2017-04-20 09:54] senlin commented on #31
Hi Vince,
The description of the Hide SEO Bloat plugin is

The imperative word here is **WordPress Dashboard**

The source code is not the dashboard and as such I am not inclined to add this to the plugin. As there is already a plugin that is being kept up to date, it would not make sense to re-invent the wheel.

I get it that you don't want to install 2 extra plugins to get rid of the crap the Yo

[2017-04-20 10:48] VinceZaZa commented on #31
"I get it that you don't want to install 2 extra plugins to get rid of the crap the Yoast plugin adds"

Ditto that

[2017-04-20 10:48] #31 closed

[2017-05-02 23:58] Tarun80 opened #32 "[Request] Remove sitemap generated by Yoast"
Hello,

I was hoping that an option can be added to remove the following:

As php/html code:
[code]

[2017-05-03 10:06] senlin commented on #32
Hi @Tarun80

This has been asked before over at the [WP Forums](https://wordpress.org/support/topic/please-add-2/)

The explanation is that the description of the Hide SEO Bloat plugin is

The imperative word here is **WordPress Dashboard**

I will keep this issue open for now, to see if there are more people that would want to see this added to the plugin.

You're always welcome to send me a PR (

[2017-05-03 11:00] Tarun80 commented on #32
I generally manually remove it by editing the file after updating. Not sure how to add it to your wonderful plugin.

[2017-05-03 12:15] senlin commented on #32
Yeah manually editing the file is not sustainable :)
Looking at [the file](https://github.com/Yoast/wordpress-seo/blob/856b147ad798a1e5dec08b7cdcad8f5ed62b8741/css/xml-sitemap-xsl.php), I don't think it will be that easy to hide any of that (removing is not possible) as all content seems to be output by XSL.

[2017-05-09 22:50] grand-lotus-iroh opened #33 "Where is the hide expired / invalid license nag?"
Cpt. Obvious is sure to say something like "Just buy a license bro". Though, other's could be wondering... _How do I remove the expired / invalid license nag?_

![insane amount of notification nags](https://cloud.githubusercontent.com/assets/1291364/25875875/d90c41b0-34e7-11e7-8746-386631bfc839.png)

I recommend adding an option to remove expired / invalid license nag. You can cut (or delete) a sm

[2017-05-09 23:01] afragen commented on #33
@grand-lotus-iroh you have premium Yoast plugins installed and Yoast is rightfully asking for a license key. Why would we block that? Just enter the license key.

Deleting code from the Yoast plugin is not how this plugin functions.

[2017-05-09 23:05] senlin commented on #33
@grand-lotus-iroh
I agree with @afragen the Hide SEO Bloat plugin is to hide/remove the bloat from the free version of the Yoast SEO plugin. If you choose to buy into the premium version, then (obviously) you need a license key.

[2017-05-09 23:16] #33 closed

[2017-05-27 12:54] senlin opened #34 "when multiple settings can be selected, options are not saved and therefore not output"
@afragen
I noticed a problem with the current version of the plugin.
Everywhere where there are multiple settings can be selected:
- Problems/Notifications
- Content (Readability) / Keyword (SEO) Score
- Help center
- Admin columns

Although it looks like the settings are saved on the Settings page, the relevant styling rules are in fact not added to the `cuws_settings` options table.

Do you have

[2017-05-27 13:44] afragen commented on #34
I'll take a look taker today. I seem to recall that working. Is there something specific that your testing? What do you see and what do you expect to see?

[2017-05-27 14:08] senlin commented on #34
Nothing specific I'm testing. I noticed an update of Yoast, so I checked whether everything was still working or whether they added new bloat.

Then I realised that none of the 4 above mentioned settings are actually "set", except on the Settings page.

Example:
When I check boxes of Help Center Setting for both "Hide ad for premium version" and "Hide the entire help center", like:
![so_hide_seo_b

[2017-05-27 14:09] senlin commented on #34
Also when you have a look at the stylesheet that is loaded on the admin pages, the styles of those 4 settings are not added to it.

[2017-05-27 14:15] afragen commented on #34
I took a look on my test site and was able to test the admin columns setting. I initially only saw 2 of the extra columns, SEO and Readability, but the did individually hide when selected.

[2017-05-27 14:19] senlin commented on #34
The admin columns can have something to do with what you set earlier in screen options. Is it possible for you to check with the help center example I gave above? And preferably on a live site?

[2017-05-27 14:20] afragen commented on #34
I tested the help center hiding and it also worked as expected, hiding on the edit posts/pages page and on the Yoast settings page.

[2017-05-27 14:26] afragen commented on #34
The admin columns is strange in that hiding from the plugin results in a unchecking in the screen options, but unchecking the plugin option doesn't seem to reverse this.

[2017-05-27 14:52] senlin commented on #34
Is that a local environment or a staging server?

And you have not previously set anything in the screen options?

[2017-05-27 14:54] afragen commented on #34
It's on a staging server.

I rechecked all the screen options, some didn't come back.

[2017-05-27 15:06] senlin commented on #34
I have no idea what is going on on my local and staging sites :(
But after wiping them both and starting over from scratch, settings seem to show again.

The only problem that I also can confirm is with the admin columns.
I actually would like it when we remove the option entirely and only make it an option to show or hide the focus keyword. What do you think of that?

[2017-05-27 15:50] afragen commented on #34
Sounds fine. I leave the showing/hiding to you. 😉

[2017-05-27 15:55] #34 closed

[2017-05-27 15:56] senlin commented on #34
Sorry for the false alarm and have a great weekend!

[2017-07-25 16:07] senlin commented on #32
With the [latest version](https://github.com/Yoast/wordpress-seo/blob/release/5.1/readme.txt#L138) (of Yoast SEO) it now seems possible to add sitemaps from other plugin.

Does that solve this issue?

[2017-08-05 13:29] senlin commented on #32
closing due to no replies

[2017-08-05 13:29] #32 closed

[2017-08-12 14:44] senlin opened #35 "[feature request] add parameter to remove or "Cornerstone articles" post list filter."
Via Joe Campbell came the suggestion to add a setting to remove the Cornerstone articles post filter.

[2017-08-12 14:44] senlin commented on #35
In the Yoast Dashboard `yourdomain.com/wp-admin/admin.php?page=wpseo_dashboard#top#features` there is a setting where this can be disabled globally, so I don't see the need to add this to the Hide SEO Bloat plugin.

[2017-08-12 14:44] #35 closed

[2017-10-10 20:13] shadowshades opened #36 "Can't hide "# links in article" (wpseo-links) column"
Everthing is checked on my Hide Bloat Settings, but can't hide one column, see capture below :

![capture](https://user-images.githubusercontent.com/8053423/31408105-6757eabc-add5-11e7-910a-6b626e58c8c0.png)

Thanks!

[2017-10-10 20:29] senlin commented on #36
Hi Shad, thanks for posting this issue.
Can you please be a bit more elaborate as I have no idea what you mean exactly.
Thanks,
Piet

[2017-10-10 20:31] shadowshades commented on #36
Seem that Yoast SEO added a column named **wpseo-links**. Inside your plugin setting, I dont find any option to hide this column. See Column capture on my first message. Thanks! :)

[2017-10-10 20:36] senlin commented on #36
The column capture of your first message is not clear, hence my question for clarification...

You are using Yoast SEO 5.6?
Which version of Hide SEO Bloat are you using?
On one of the dev sites I use to test things, I cannot replicate your issue, I cannot see a column named wpseo-links. In which screens does this column show? Can you do a screenshot of the entire screen perhaps?
Thanks,
Piet

[2017-10-10 20:49] senlin commented on #36
Ah, finally I understand what you mean!

As it turns out, the Yoast SEO Settings already have a disable/enable setting in place for this Text Link Counter as you can see at the bottom of `[your-site-url]/wp-admin/admin.php?page=wpseo_dashboard#top#features`.

As with other options that can be set in the plugin itself - **and** because this option is disabled by default - we have decided not to add

[2017-10-10 21:06] shadowshades commented on #36
Thanks for your answer!

Le 10 oct. 2017 à 16:49, Piet Bos <notifications@github.com<mailto:notifications@github.com>> a écrit :

Ah, finally I understand what you mean!

As it turns out, the Yoast SEO Settings already have a disable/enable setting in place for this Text Link Counter as you can see at the bottom of [your-site-url]/wp-admin/admin.php?page=wpseo_dashboard#top#features.

As with othe

[2017-10-10 21:16] #36 closed

[2017-12-30 13:51] senlin opened #37 "via WP forum: Notice: Undefined index: option_page"
originally posted by [antonv](https://wordpress.org/support/users/antonv/) on [WP.org support](https://wordpress.org/support/topic/notice-undefined-index-option_page/):

WordPress 4.9.1, PHP 7.1, Hide SEO Bloat 3.4.1
and in wp-config.php: define(‘WP_DEBUG’, true);

If I edit a User and then Save I get following warnings:

Notice: Undefined index: option_page in /home/btelg/public_html/wp-content/p

[2017-12-30 13:52] senlin commented on #37
@afragen
Do you have any idea what this can be about? Perhaps to do with PHP 7.1? Or is it the `option_page` reference on line 102 of `includes/class-so-clean-up-wp-seo-settings.php`?

Hope you have an idea...

[2017-12-30 15:51] afragen commented on #37
I’ll take a look.

[2017-12-30 16:03] afragen commented on #37
Adding something like the following above that conditional should work. You could even put it at the beginning of the function as an early exit.

[code]

Should fix the issue.

I typed this on an iPad so you may need to replace single quotes if they are stylized and spacing might be incorrect.

[2017-12-30 21:20] senlin commented on #37
Thanks Andy!

I made a separate branch to ask the person who opened the issue to test it, as I cannot reproduce it.

So far I have not heard anything back from that person, if I don't hear anything should I merge [the new branch](https://github.com/senlin/so-clean-up-wp-seo/tree/issue37) or not?

Also unrelated to this, wish you a very Happy New Year!
Cheers,
Piet

[2017-12-30 22:27] afragen commented on #37
Give the OP some time to respond. I find I'm always in more of a rush to fix the issue than some with the issue are in a rush to test the fix. 😉

If you don't hear anything by the end of next week I'd merge. It's clearly not effecting everyone and the patch is safe.

Also, you don't need the `GitHub Branch` header any more. GHU will automatically save the branch on Install from GHU or on branch sw

[2017-12-30 22:30] senlin commented on #37
Thanks Andy, good advice and a good tip! :)

[2018-01-01 20:56] anton-vrba commented on #37
Hi Guys, Happy New Year

Well done! Fix37 did fix it. (I was editing a user, manually changed role and password)

It was not a PHP issue as I switched to 5.6 and had the same Notice and Warning.

[2018-01-02 13:17] senlin commented on #37
@anton-vrba Happy New Year Anton!

Thanks for testing and confirming it fixed the issue.

We have just merged the branch and released 3.5.0 of the plugin here and on [wp.org](https://wordpress.org/plugins/so-clean-up-wp-seo/)

[2018-01-02 13:17] #37 closed

[2018-02-27 17:57] senlin opened #39 "Hide new Yoast SEO settings on individual profile page"
As per title, [original thread](https://wordpress.org/support/topic/hide-bloat-for-individual-users/)

Will update thread once added

[2018-03-06 15:27] senlin opened #40 "new release to get up to par with Yoast 7.0"
Yoast 7.0 was released today (March 6, 2018) and has a lot of "improvements".

We need to look into them all and see how we need to fix our settings accordingly.

That will take some time as we have a few projects going on at the moment.

If you see anything that needs adjusting, then please leave a comment on this thread, so we can add that to the list. I have added the first one below as an exam

[2018-03-06 15:28] senlin commented on #40
Video tutorial shows when "Need Help"-dropdown is clicked

[2018-03-06 15:29] senlin commented on #40
Check SEO configuration with cartoon icon is showing on General settings

[2018-03-06 15:30] senlin commented on #39
Please see https://github.com/senlin/so-clean-up-wp-seo/issues/40, we will add this issue to that list and close it here.

[2018-03-06 15:30] #39 closed

[2018-04-24 08:36] senlin opened #41 "[question] Does this plugin help with page speed?"
Via email we received the following question:

As other people might have the same question, we decided to post it here.

The Yoast SEO plugin indeed is known for being bloated, but I am not sure whether it also contributes to slow page loading speed as most of the bloat is on the backend. Where have you heard/read that it slows down the frontend?

The Hide SEO Bloat plugin hardly disables anythin

[2018-04-24 08:36] #41 closed

[2018-06-11 10:16] senlin commented on #40
just released [3.6.0](https://github.com/senlin/so-clean-up-wp-seo/releases/tag/v3.6.0)

closing this issue

[2018-06-11 10:16] #40 closed

[2018-09-05 12:46] caban13 opened #43 "[feature request] remove SEO filters on main edit Post/Page screen"
I want to remove to two select boxes that appear in every admin page listing post, pages or cpts:

* SEO Scores filter dropdown
* Readability Scores filter dropdown

Here is an image: https://snag.gy/SJLExf.jpg

I was unable to un-hook, so I hide them. In my functions.php I have:
[code]
I hope this explains.

[2018-09-05 13:05] senlin commented on #43
It already is possible within the General settings of Yoast SEO under the Features tab to turn the SEO Scores and/or Readbility Scores on or off, but that is global.

@caban13 wants to be able to have them turned on, but remove/hide them from the Edit Post/Page/CPT screens.

Anyone who also would like this, please vote it up. 10 votes or more we will consider it, 25 votes or more we will implement

[2018-09-20 20:42] mrwweb opened #44 "Feature Request: Hide Upsell after Post Deletion"
Yoast's plugin recently started trying to upsell at the top of the All Posts screen every time you delete a post (page, anything). Super annoying. Would love to see that hidden!

[2018-09-20 20:43] mrwweb commented on #44
screenshot:

![image](https://user-images.githubusercontent.com/1238696/45845859-220df580-bcdb-11e8-9994-63963bd55a9a.png)

[2018-09-20 20:54] senlin commented on #44
hi @mrwweb - thanks for the report.

That is just crazy! Will definitely get rid of that soon! Thanks for the screenshot to visualise the issue.

[2018-09-20 21:09] senlin commented on #44
Hmmm, this is going to be more difficult than I had hoped :(

The notice has very generic classes: `yoast-alert notice notice-warning is-dismissible`, so there is a risk that if I do a `display: none;` on that, other things will not be displayed either.

This file is responsible for adding the actions: https://github.com/Yoast/wordpress-seo/blob/trunk/admin/watchers/class-slug-change-watcher.php#L

[2018-09-20 21:40] mrwweb commented on #44
It looks to me like that whole file is only there for the purpose of the upsells, so could you just remove the actions wholesale?

[2018-09-20 21:55] senlin commented on #44
Yeah, unfortunately it's not as easy as that.

[2018-09-20 22:57] senlin commented on #44
@mrwweb you can find the new release at https://github.com/senlin/so-clean-up-wp-seo/releases/tag/v3.8.0 and soon it will be available on the WP Plugins Directory. Keep in mind to check the Settings page to tick the new option box.

[2018-09-21 15:42] mrwweb commented on #44
FYI: I can confirm that the ads no longer appear.

However, I didn't need to check the box in settings nor did I save the settings yet. The following notice is on the settings page:

I don't have time to go digging, but you likely need to implement a default value for each option with something like `if( isset( $option_value ) { ...`

[2018-09-21 16:01] senlin commented on #44
Hmmm, thing is we do set default values already at https://github.com/senlin/so-clean-up-wp-seo/blob/develop/includes/class-so-clean-up-wp-seo.php#L425-L455

@afragen - do you happen to know what's going on with this?

[2018-09-21 17:50] afragen commented on #44
I’m away until next week, but I’ll take a look when I get back.

[2018-09-21 17:55] afragen commented on #44
Might need to activate and deactivate the plugin as the defaults only seem to be set during activation. Since then default wasn’t previously present you get an error. Just running the code in my head as I don’t have a laptop with me.

[2018-09-23 12:44] senlin commented on #44
If that is indeed how it works, then we might need to rethink that as that is not very user friendly.

[2018-09-23 18:07] afragen commented on #44
The PHP warning is only a warning. Just put in the changes that a deactivation/deactivation is needed.

Otherwise you’ll need to write an update procedure to ensure any empty settings are filled.

[2018-09-24 15:43] mrwweb commented on #44
Seems like it may be worth redoing how options are handled in this plugin. The general best practice I know and has served me well is to:

1. Only save options to the database that the user has explicitly set
2. Provide default values for all options (but don't save them to the DB)
3. Save all plugin options in a single option as an array

So in the plugin you handle defaults and avoid warnings is

[2018-09-24 21:58] senlin commented on #44
@mrwweb - Thanks for your thoughts and input Mark.

Regarding this the idea behind the plugin is that people install it to clear up the mess, so instead having the user tick 20 boxes, the default setting is that almost everything is checked.

Of course I am happy to be persuaded otherwise if it turns out that it simply works easier to have them set by the user. In that case adding a new option wou

[2018-09-24 22:17] afragen commented on #44
Perhaps a simple

`array_merge( $this->get_defaults(), $this->options );`

At the end of the CUWS constructor.

[2018-09-25 07:20] #44 closed

[2018-09-25 07:49] senlin commented on #44
New version just has been released on the WP Plugins Directory too.

Thanks for all your help!

[2018-09-25 12:46] jaycollier opened #46 "Custom Post Types"
I have the plugin installed on Multisite. However, the Yoast box still appears on custom post type write screens. Is there something that needs to be done to activate the plugin on CPTs?

[2018-09-25 12:52] senlin commented on #46
Hi Jay, thanks for reporting this.

It should work normally on CPTs. Which box still appears? Can you send a screenshot? Have you selected the option on the settings page and saved them?

[2018-09-25 12:59] jaycollier commented on #46
Thanks for responding so quickly.

On the network settings page — linked from the Network Plugin's list — I don't see any reference to CPTs. In any case, I checked every single box.

On the CPT edit page (which was created with Pods), I still see the meta box.

![screen shot 2018-09-25 at 8 56 25 am](https://user-images.githubusercontent.com/1320213/46015716-fc993700-c0a0-11e8-9ff6-47b89767f09d.pn

[2018-09-25 13:15] senlin commented on #46
Ah okay, now it is clearer what you mean.

The plugin does not remove the entire Yoast SEO metabox, as that would mean that it would become completely unusable. The purpose of our plugin is to remove the bloat: all the cartoon ads and nags.

It is possible in the settings of the Yoast SEO plugin to select on which post types the metabox shows. To do so go to Yoast SEO > Search Appearance and selec

[2018-09-25 13:18] jaycollier commented on #46
Thank you! You answered my question, and this issue is resolved.

[2018-09-25 13:18] #46 closed

[2018-10-28 03:21] attentiondesign opened #47 "Coloured dots not showing up in post edit screen"
With the latest update of Yoast SEO (9.2), the coloured rating dots have disappeared from the sidebar metabox in the page and post edit screen. The text description (e.g. "SEO: okay") is there but no coloured dots for rating or readability. The one in the admin toolbar is showing (I've got that set to not be hidden). I did update settings for Bloat after the update. This is happening on multiple s

[2018-10-28 10:02] senlin commented on #47
Thank you for reporting this issue.

To be honest with the rate they pump out updates, we haven't had the chance yet to have a look at it.

When we have a moment we will have a look to see what adjustments are needed to make the dots disappear.

In the meantime it would be very helpful if you could add a screenshot of the problem.

[2018-10-28 14:30] senlin commented on #47
Okay, we had a look, but cannot reproduce the issue.

As far as we can see there are no dots present anymore and they have been replaced by a bar that changes color depending on the length.

In the version that we have just released we have added an option that hides these colored bars and we have done some more adjustments.

Please try out the new version and report back when you have done. If th

[2018-10-29 12:56] senlin commented on #47
@attentiondesign
As I haven't heard back, I'm closing this issue. If you want to re-open it at a later stage, then by all means.

[2018-10-29 15:22] attentiondesign commented on #47
Ummm, it was the weekend, I wasn't exactly working on this stuff. That's way too quick to close the issue.
I will try the new version, and post a screen shot if the problem is still there.

[2018-10-29 15:30] attentiondesign commented on #47
Updated plugin, re-saved settings with the coloured bar option not hidden, still the same missing dots in the publish metabox. 2 screenshots attached - the SEO metabox with happy face dots showing as expected; and the publish metabox with missing dots, only text.

![screenshot_2018-10-29 edit page west coast wilderness lodge wordpress2](https://user-images.githubusercontent.com/44538447/47660689-c

[2018-10-29 15:33] senlin commented on #47
Well, I figured because you also posted the issue in the weekend :)

Looking at your screenshot, it is not entirely clear where the colored dots need to show? Could you perhaps also do a screenshot with the Hide SEO Bloat plugin deactivated, so we can see what is missing according to you?

[2018-10-29 18:07] senlin commented on #47
Okay, I will save you the trouble.

The Yoast SEO plugin no longer contains colored balls it seems, which can be checked by deactivating Hide SEO Bloat.

Anyways, thanks for opening the issue, so I could implement the changes yesterday.

[2018-10-29 18:07] #47 closed

[2018-12-13 08:23] allanrehhoff opened #53 "Feature Request: Hide premium ad in gutenberg."
With the release of gutenberg in wordpress 5.0 Yoast SEO has made compatibility changes on their part.
This includes the mandatory ad to buy the premium version.

I suggest a feature to hide this ad, or simply extend the 'Hides the "Premium" submenu in its entirety.' setting.

Screenshots attached for clarity

![2018-12-13_09-09-51](https://user-images.githubusercontent.com/24595705/49925289-bb9f0

[2018-12-13 09:43] senlin commented on #53
Hi Allan,
Thank you for sending this feature request including screenshot for clarification.
I was on a short holiday when WP 5.0 dropped so did not have a chance to see this yet. Will work on it soon and update this ticket when the new version is released.
Cheers,
Pieter

[2019-01-27 14:07] papashivo opened #54 "Remove Courses"
## Expected behavior

## Current behavior

## Possible way to add this

## Screenshots

[2019-01-27 14:09] papashivo commented on #54
https://screenshots.firefox.com/nkUoPCQPSSLmWVRO/www.pluto.ie

Seems new ion the last version of Yoast.

[2019-01-27 14:19] senlin commented on #54
Thanks for the report, seems new indeed, will look into removing/hiding it.

[2019-01-27 16:13] afragen commented on #54
Courses seems to be in it’s own menu. Why remove it simply avoid it.

[2019-01-27 17:41] papashivo commented on #54
You could say the same about anything here. Its noise and bloat, I would
imagine its a line of CSS to hide it why not.

On Sun, 27 Jan 2019 at 17:15, Andy Fragen <notifications@github.com> wrote:

--
Niall Flynn
hello@niallflynn.ie
www.niallflynn.com
@niall_flynn <http://twitter.com/niall_flynn>
LinkedIn <http://www.linkedin.com/in/flynnniall>

[2019-02-14 19:32] anton-vrba opened #55 "Yet another Yoast column to hide --- column-wpseo-links"
Hi, there is another yoast column which I hid successfully by by including the line "echo '.column-wpseo-links{display:none;}';" after line 309 in class-so-clean-up-wp-seo.php.   Possibly you can extend your settings to include this column as well

Thanks
Anton
-----------

<th scope="col" id="wpseo-links" class="manage-column column-wpseo-links sortable desc"><a href="https://xxxxxxxxx.com/wp-adm

[2019-02-14 19:52] senlin commented on #55
@anton-vrba

Hi Anton, thanks for your suggestion. I haven't had much time to update the plugin lately, but I welcome any PRs :)

Cheers!

[2019-04-22 10:49] senlin commented on #55
Hi Anton, I'm looking at this issue at the moment on a vanilla install, but cannot see the column.

Could you please make a screenshot available?

[2019-04-22 11:14] senlin commented on #53
Apologies for the delay, looking into this now.

Unfortunately the suggestion you did doesn't do anything.

It seems to be hooked into a [`edit-post-pinned-plugins`-class](https://github.com/WordPress/gutenberg/blob/master/packages/edit-post/src/components/header/pinned-plugins/index.js#L16-L18) that comes with the new editor and is filled with javascript.

If anyone knows how to remove this, feel

[2019-04-22 13:26] #43 closed

[2019-04-22 13:27] #54 closed

[2019-04-22 21:20] anton-vrba commented on #55
Hi Peter

here it is, far right of admin menu Posts>AllPosts

------ Original Message ------
From: "Pieter Bos" <notifications@github.com>
To: "senlin/so-clean-up-wp-seo" <so-clean-up-wp-seo@noreply.github.com>
Cc: "anton-vrba" <antonvrba@gmail.com>; "Mention"
<mention@noreply.github.com>
Sent: 4/22/2019 11:49:44 AM
Subject: Re: [senlin/so-clean-up-wp-seo] Yet another Yoast column to
hide --- colu

[2019-04-22 21:24] anton-vrba commented on #55
Hi Peter here it is,  far right of Admin Menu Posts?AllPosts

Subject: Re: [senlin/so-clean-up-wp-seo] Yet another Yoast column to
hide --- column-wpseo-links (#55)

[2019-04-22 22:26] senlin commented on #55
Thanks for the screenshot, will fix that in the upcoming .1 release

[2019-04-27 11:26] senlin commented on #55
@anton-vrba thanks for your patience, I have just released the version that hides this column too. You will see the new checkbox on the Settings page.

[2019-04-27 11:26] #55 closed

[2019-04-27 11:28] senlin commented on #53
As there doesn't seem to be an easy solution, I'm closing this now. Feel free to re-open it if you have new ideas on how to implement it.

[2019-04-27 11:28] #53 closed

[2019-05-15 07:52] senlin opened #57 "hide ad that promotes premium local seo services"
Received following via [WP Support ](https://wordpress.org/support/topic/extra-box/):
On `wp-admin/admin.php?page=wpseo_titles#top#general` there is an image that promotes premium local seo services.

## Possible way to add this
Hide `<div id="wpseo-local-seo-upsell">`

## Screenshots
http://prntscr.com/nor6jx

[2019-05-17 09:28] ghost opened #58 "Remove YOAST suggestion in Permalinks page"
Just open Settings>Permalinks on WP Dashboard and check at the top for a box like this added by Yoast http://prntscr.com/np4hjx,

[2019-05-17 09:29] ghost opened #59 "Get premium nag in the Yoast metabox"
Open a post, check the Yoast meta box below the post and just below focus keyword, check for this box http://prntscr.com/np4i4i.

[2019-05-17 09:52] senlin commented on #59
I had a look at this, but there are no classes added to this notice, so I cannot just simply hide it as it will also hide other, maybe important, notices.

Most likely this needs to be done programmatically, but I haven't figured out a way to do that yet. Any input welcome.

The code on Yoast SEO is as follows.

File: `wordpress-seo/admin/class-admin-init.php L52`:
`add_action( 'admin_notices', ar

[2019-05-17 09:53] senlin commented on #58
I had a look at this, but there are no classes added to this notice, so I cannot just simply hide it as it will also hide other, maybe important, notices.

Most likely this needs to be done programmatically, but I haven't figured out a way to do that yet. Any input welcome.

The code on Yoast SEO is as follows.

File: `wordpress-seo/admin/class-admin-init.php L52`:
`add_action( 'admin_notices', ar

[2019-05-17 09:54] senlin commented on #59
Thanks will add this to the todo list

[2019-06-05 04:39] TomasHurtz opened #60 "make compatible to All in One SEO pack"
Hello - looks nice plugin - can you make for SEO All In One ?

This helps: https://gist.github.com/llgruff/a7ab776167aa0ed307ec445df54e5fdb

But still a lot of other bloat and also in sitemap

[2019-06-05 07:28] senlin commented on #60
Hi Tomas, thanks for the suggestion, but not interested. Someone else can do that :)

[2019-06-05 07:28] #60 closed

[2019-06-17 11:06] senlin commented on #31
@VinceZaZa - you'll be happy to know that with the release of v3.11.0 this issue is finally taken care of :)

[2019-06-24 13:13] allanrehhoff opened #62 "Remove "Translate YOAST Seo Premium" nag box"
YOAST Seo Free contains advertisments for the premium version, and the premium version contains advertisments/callouts for translation help (though many plugins do that)

## Expected behavior
An option/checkbox that hides this box (see screenshot)

## Current behavior
The box seems to appear randomly, but contains a cartoon-ish logo that doesn't fit with the wordpress core design.

## How to repli

[2019-06-24 13:22] senlin commented on #62
Hi Allan,

Thanks for your ticket.

The thing is that for things like this to be implemented I'd need a premium license and I have no intention to send yoast money, so unless someone makes such a license available to me, it is not likely that I start including code that removes or hides garbage from the premium version of the yoast plugin.

Does that make sense?

[2019-06-25 06:38] allanrehhoff commented on #62
That's totally understandable, I wouldn't send yoast money myself, if it wasn't for the client that I work with who required premmium version.

Anyway, feel free to close the issue if you do not plan on making any changes regarding to this, however, would it be ok if I made a PR somewhere in the future instead, any chance for that to get merged?
(Considering that I'd even get the time to do such t

[2019-06-25 07:00] senlin commented on #62
Hi Allan,
I always welcome PRs, so if you find the time then surely I encourage you to submit one :)
Will close the issue for now, but you can re-open it once you want to re-visit it.

[2019-06-25 07:00] #62 closed

[2019-07-27 10:22] senlin commented on #59
this does not seem to be an issue anymore and OP's account has been removed, so closing this

[2019-07-27 10:22] #59 closed

[2019-07-27 10:31] senlin commented on #58
closing this as no help is being offered and OP's account has been removed

[2019-07-27 10:31] #58 closed

[2019-07-27 10:50] senlin commented on #57
closing as per latest commit

[2019-07-27 10:50] #57 closed

[2019-08-17 08:30] Dibbyo456 opened #64 "2 bugs and 1 feature request"
Currently if we hide Admin columns such as SEO score column, Readability score column etc the data actually gets hidden but the options still shows up "Screen Options" settings. I'm guessing the columns is not unhooking the proper way. The proper way to hide those would be this: https://gist.github.com/amboutwe/18558a7e681e36c6bfe6e4fb647265ce

“Remove HTML Comments” does not work on Yoast SEO Pre

[2019-08-17 10:12] senlin commented on #64
@Dibbyo456 thanks for your message. Bit difficult to address 2 bugs and 1 feature request in one issue, so I split them up in 3 separate issues and closing this. Thanks for your understanding.

[2019-08-17 10:12] #64 closed

[2019-08-17 10:14] senlin opened #65 "[Feature Request] remove admin columns instead of hiding them"
Originally reported by @Dibbyo456 as issue #64

Currently if we hide Admin columns such as SEO score column, Readability score column etc the data actually gets hidden but the options still shows up "Screen Options" settings. I'm guessing the columns is not unhooking the proper way. The proper way to hide those would be this: https://gist.github.com/amboutwe/18558a7e681e36c6bfe6e4fb647265ce

[2019-08-17 10:15] senlin opened #66 "“Remove HTML Comments” does not work on Yoast SEO Premium."
Originally reported by @Dibbyo456 as issue #64

“Remove HTML Comments” does not work on Yoast SEO Premium.
 still shows up in source code.
Proper way to hide this would be: https://buddydev.com/remove-this-site-is-optimized-with-the-yoast-seo-plugin-vx-y-z/

[2019-08-17 10:15] senlin opened #67 "[Feature Request] Hide “Advanced” tab"
Originally reported by @Dibbyo456 as issue #64

Is there any way to hide “Advanced” tab? – https://s.put.re/jPZh688X.png

[2019-08-17 11:11] Dibbyo456 commented on #67
The proper way to hide this modify the function `get_seo_meta_section()` on `\wordpress-seo\admin\metabox\class-metabox.php` Line 330.

[2019-08-17 11:40] Dibbyo456 commented on #67
Another way would be:

[code]

[2019-08-17 12:13] Dibbyo456 opened #68 "Remove primary category feature does not work with Yoast Premium"
Even though the plugin has this:

[code]

but that does not seem to work with Yoast Premium. But if I add
[code]
to **functions.php** then it works fine..

[2019-08-17 12:20] Dibbyo456 opened #69 "Remove Search Console menu because it's discontinued"
Google has discontinued its Crawl Errors API so the Search Console page in Yoast is useless now.

[code]

[2019-08-17 14:07] senlin commented on #66
@Dibbyo456 I'm not planning for the premium version of Yoast, simply because I do not have a license for premium and I am not planning to get one anytime soon.

[2019-08-17 14:07] #66 closed

[2019-08-17 14:07] senlin commented on #68
@Dibbyo456 I'm not planning for the premium version of Yoast, simply because I do not have a license for premium and I am not planning to get one anytime soon.

Feel free to add that filter to your own functions file :)

[2019-08-17 14:07] #68 closed

[2019-08-17 14:11] senlin commented on #65
I'm not sure about this one; in the readme there is no talk about removing the columns, instead it clearly says that they're hidden:

(emphasis mine)

I'll leave this open as a Feature Request and if we get a lot of votes on it, I might change it.

Thanks for posting @Dibbyo456!

[2019-08-17 14:25] senlin commented on #67
@Dibbyo456 thanks for this Feature Request. That function indeed does the trick.

I never felt the urge to remove the entire Advanced "tab", as it is closed by default anyways, but I can imagine that some people would like to remove as much as they can, and then this might be a useful option.

So I will add it to the plugin, but I will leave it visible by default, if only not to surprise people th

[2019-08-17 17:38] senlin commented on #69
Thanks for the update @Dibbyo456, good that someone keeps an eye on the current situation :)

Will remove it in the next release

[2019-08-17 17:45] #69 closed

[2019-08-17 18:07] Dibbyo456 commented on #67
I think most users will prefer the "close advanced tab". I just wanted to get rid of it since I almost never uses it.

[2019-08-17 18:09] Dibbyo456 commented on #65
I don't know which method you're using but why not use the official wordpress method?

[2019-08-17 18:11] senlin commented on #67
But for Pages and other CPTs you're fine that it is there? That is my issue with it. I can remove it from the post editor, but then what about the page editor and any other editor screens?

[2019-08-17 18:16] senlin commented on #65
I'm hiding the columns (thus through CSS).

[2019-08-17 18:18] Dibbyo456 commented on #67
I like to have it enabled on pages because sometimes pages needs to be "noindex" or change "canonical" etc where "posts" does not need these options, because almost no user write a post and have it "noindex".

Not sure about custom post type, but I rarely use it.
Perhaps we can create an array of CPT and loop through them and remove it?

[2019-08-17 18:19] senlin commented on #67
Happy to merge it if you can send me a PR or a snippet I can use :)

[2019-08-17 18:20] Dibbyo456 commented on #65
Ah, that's exactly why the options were still visible on "Screen Options".
I think CSS patch should be last resort in any case.

[2019-08-17 18:43] Dibbyo456 commented on #65
[code]

[2019-08-17 18:56] senlin commented on #65
@Dibbyo456
Thanks Harry, it seems you're burning the midnight oil! ;)
I will add this over the weekend or early next week.

[2019-08-17 19:10] Dibbyo456 commented on #67
[code]

[2019-08-17 19:33] senlin commented on #67
Great thank you Harry! Yes, I think it would be a good idea to make it optional for pages, as you said yourself:

[2019-08-24 15:43] Dibbyo456 opened #71 "[Patched] Remove Warning message from permalink page"
Previously suggested on #58

[code]

This might help in future: https://harry.plus/blog/remove-any-action-filter-wordpress/

The warning message function located on `/admin/class-admin-init.php`

[2019-08-24 15:45] Dibbyo456 commented on #58
Patch posted on #71

[2019-08-24 15:58] senlin commented on #71
@Dibbyo456
Very helpful patch and resources Harry, thank you for digging in! I will add this to the other patches/fixes.

[2019-08-24 15:58] senlin commented on #58
@Dibbyo456
Very helpful patch and resources Harry, thank you for digging in! I will add this to the other patches/fixes.

[2019-08-27 23:00] senlin commented on #67
@Dibbyo456
Harry, so do I just leave the `page` post-type out when `$default_post_types` is defined or do you have a better idea?

[2019-08-28 08:19] Dibbyo456 commented on #67
Frankly leave the `page` out of it for now. Later if lot of users asks for it the we can make it optional by pushing a simple update.

[2019-08-28 08:25] Dibbyo456 commented on #53
Indeed, you are right. At first I thought remove some hooks might do the trick but nope. Nothing filterable found. Then I thought of CSS patch because if anything does not work CSS patch will, but nope..! That does not work either because there is no unique css in that particular nag.

Yoast really pissed me off. There is almost no way to do it without modifying core files.
Thankfully I don't use

[2019-08-28 08:36] senlin commented on #53
I hear you! The first plugin that I install on new sites is my own [Classic Editor Addon](https://github.com/senlin/classic-editor-addon).

[2019-08-28 13:04] senlin commented on #65
okay, so the function works, but now the problem is how to add it to the `includes/class-so-clean-up-wp-seo.php` file. Been trying and so far the result is an empty post screen.

Added the following` to the `__construct`:
[code]

and then below the `__construct`, where also all the other functions are located:

[code]

Any ideas welcome!

[2019-08-28 14:57] Dibbyo456 commented on #65
I tested your given codes and it's works perfectly fine for me...!

[2019-08-28 15:08] senlin commented on #65
Hmmm, will do a fresh install then, because this is getting frustrating...

[2019-08-28 15:14] Dibbyo456 commented on #65
I think it's better to have all of those filters inside single admin_menu hook for better maintenance and readability.

[code]

[2019-08-28 15:22] Dibbyo456 commented on #65
But don't push and update yet the codes does not seem to remove this fields.
I know the plugin does it via css patch but i'm working on a filter patch.

![2019-08-28_20-47-59](https://user-images.githubusercontent.com/18257605/63869417-bc8bb400-c9d5-11e9-9cf1-ac804db3dd6c.png)

[2019-08-28 15:24] senlin commented on #65
I'm not pushing anything yet, don't worry :)

There is a problem with the code: try enabling all the columns in the Hide bloat settings. If all the checkboxes are open, then there are errors all over the place.

[2019-08-28 16:07] Dibbyo456 commented on #65
That's because `$columns` was not returning when `$this->options['hide_admincolumns']` was empty. I fixed the codes.

Inside `__construct`

[code]

below it.

[code]

Let me know, if everything works now.

[2019-08-28 17:14] senlin commented on #65
Yes, now it indeed works, thank you.

One thing though, the dropdowns you referred to [earlier](https://github.com/senlin/so-clean-up-wp-seo/issues/65#issuecomment-525794892) are no longer present, even if the seo score or readability score is left enabled.

[2019-08-28 17:14] Dibbyo456 commented on #65
Remove from `function so_cuws_hide_visibility_css()`

[code]
Add on `__construct`

[code]

[2019-08-28 17:17] senlin commented on #65
hahaha, yeah sorry I had forgotten that it is a feature of the plugin to hide those ;)

regarding your snippet, thanks I will have to refactor it to make it follow the same style as the rest of the plugin. consistency, you know :)

[2019-08-28 17:20] Dibbyo456 commented on #65
Sure. No problem.
Just make sure to remove unused codes from plugin.

[2019-08-28 17:21] senlin commented on #65
Yup, that works, thanks again for all the initiative on improving the plugin!

[2019-08-28 17:29] Dibbyo456 commented on #65
Don't want to turn this issue into a chatbox but I can't help but share a very interesting thing I learn today.

When assessing `global class` the class name needs to be in `lowercase` even if the class declared name was something like `WPSEO_Meta_Columns`.

For example:

[code]

I have no idea why is that. ¯\_(ツ)_/¯
Do you know something about it?

[2019-08-28 17:31] senlin commented on #65
That indeed is interesting. Can't say I know something about that. Perhaps @afragen knows? Otherwise a good resource is the stackexchange

[2019-08-28 18:39] senlin commented on #65
Thanks for your input Andy!

[2019-08-29 14:46] #67 closed

[2019-10-23 15:05] alriksson opened #74 "WP rocket conflict"
The Hide SEO Bloat plugin prevents all the other optimizations (like cache busting, minification, and the insertion of the CPCSS) in WP Rocket from working — so I had to deactivate it.

Most likely, it’s using certain output buffer functions, which interfere with WP Rocket’s ability to generate its own buffer.

[2019-10-23 15:11] senlin commented on #74
@alriksson thanks for posting

Not entirely sure though as the plugin works on the backend and therewith should have nothing to do with any of the things you mention?

What makes you think that this plugin is the culprit?

[2019-10-23 15:38] alriksson commented on #74
Since WP rocket only works (like cache busting, minification, and the insertion of the CPCSS) once I disable `so-clean-up-wp-seo` Also got it confirmed from WP Rocket support.

So until this bug is fixed the plugin and wp rocket together can not be used.

[2019-10-23 15:50] senlin commented on #74
Can you please point me to the thread where WP Rocket confirms "this bug"?

To be honest I really have no idea what this could be, so any additional information would be very welcome.

Also what I find a little strange is that with more than 10K active installs, we have plenty of users that also have WP Rocket installed and I have never received any conflict report, ever.

[2019-10-23 16:33] alriksson commented on #74
Over email support with WP Rocket. Email them and ask for Shelley.

All I can say is it worked once your plugin was disabled and when I asked WP rocket support are you sure? They confirmed it on their installs as well that this plugin is causing the issue.

[code]

[2019-10-23 16:46] senlin commented on #74
Thanks.

The thing is the plugin is not using anything like that. There is nothing to buffer.

I will look into it, but don't hold your breath.

[2019-10-23 16:49] senlin commented on #74
The only thing happening on the frontend is this

https://github.com/senlin/so-clean-up-wp-seo/blob/develop/includes/class-so-clean-up-wp-seo.php#L229-L240

[2019-10-23 18:12] alriksson commented on #74
It is strange then but thanks for looking into it. Maybe I can put you in contact with their support so we can have the conversation in a thread with all parties.

Nothing in WP rocket works when the plugin is activated:
- Defer
- Minify
- Generate CCSS

[2019-10-23 18:33] senlin commented on #74
Yes please. My email is my first name and then the website name .

[2019-10-23 18:43] alriksson commented on #74
Let me email you trhought the contact form and I loop in WP rocket.

[2019-11-04 14:50] senlin commented on #74
After some emailing back and forth, it turns out that the "issue" apparently is in the **OPTIONAL** removal of frontend HTML comments.

The mere fact that this has not been reported before and that it is an optional setting, I have labelled this as `wontfix` for now, until someone is articulate and helpful enough to change my mind.

[2019-11-04 14:50] #74 closed

[2019-11-07 15:12] allanrehhoff opened #75 "Seo score columns visible when saving posts using 'Quick edit'"
The WPSEO score columns becomes visible once the 'Quick edit' feature is used to edit posts (probably also other CPT's)

Possibly a bug that has been introduced with [issue #65 ](https://github.com/senlin/so-clean-up-wp-seo/issues/65)

## Expected behavior
The columns are still hidden after hitting save.

## Current behavior
The columns are hidden when you enter the page, but becomes visible when

[2019-11-07 15:47] senlin commented on #75
Hi Allan, thanks for the report, I will ask @Dibbyo456 to have a look at this to see if he can fix this. If not then I agree that we will revert back to the old fashioned method of hiding (with CSS) instead of removing.

[2019-11-07 15:48] senlin commented on #65
@Dibbyo456 - Hi how are you?, Can you please have a look at this new issue #75 that has been opened?

[2019-11-07 16:14] Dibbyo456 commented on #75
Nice catch. Unfortunately I’m on vacation and will get home a week later. I didn’t bring my laptop unfortunately.
I will take a look once I get home.

[2019-11-07 16:25] senlin commented on #75
Hi @Dibbyo456 - thanks for getting back.

No worries, enjoy your holiday and once you're back it would be great if you can have a look then. I assigned this issue to you :)

[2019-11-07 16:37] allanrehhoff commented on #75
I think removing it would be preferable in any case.

If @Dibbyo456 is unable to come up with a solution for this, you could just include my above fix/workaround as a fallback.

Since it's a one-liner CSS I don't think it'd cause too much of a performance penalty to the browser.

[2019-11-15 07:30] Dibbyo456 commented on #75
This is happening because when we're using Quick Edit, wp using admin_ajax.php to send and receive data, thus the filters not applying.

There are 2 possible options, either use the old css method, or I need to figure out a way to filter the ajax response.

[2019-11-15 13:30] senlin commented on #75
Thanks for looking into it @Dibbyo456

yes please :)

[2019-11-18 08:26] Dibbyo456 commented on #75
Unfortunately I could not find anything that would fix the issue. I leaving you to decide what to do. 😞

[2019-11-18 08:47] senlin commented on #75
Thanks for checking, I will place back the original CSS then.

[2019-11-19 10:25] allanrehhoff opened #76 "SEO Premium upsell notice has a new class name."
The yoast SEO admin block upsell notice seems to have gotten a new class name, resulting in the "Premium Upsell Admin Block" setting no longer having an effect.

## Expected behavior
the upsell notice (shown in screenshot) hidden.

## Current behavior
WordPress version 5.3, Yoast Free Version 12.5 and Hide SEO Bloat Version 3.13.1, shows the ad shown in screenshot, with the 'Premium Upsell Admin B

[2019-11-19 10:40] senlin commented on #76
Thanks for the report Allan @allanrehhoff ! Will add that to the next version, which will come out soon.

[2019-11-19 10:53] senlin commented on #76
fixed in new release which will go live on WP in a minute

[2019-11-19 10:53] #76 closed

[2019-11-19 10:53] senlin commented on #75
fixed in new release which will go live on WP in a minute

[2019-11-19 10:53] #75 closed

[2019-11-19 10:54] #65 closed

[2019-11-19 10:54] senlin commented on #65
fixed in new release which will go live on WP in a minute

[2019-11-27 10:19] allanrehhoff opened #77 "Option to hide "Help beacon", new "feature" added in yoast seo."
The latest version of Yoast SEO (Version 12.6.1 ) added a new "feature" or addition to their help center options.

Sorry for creating all these issues lately, but I swear with every update the Yoast Team adds another ad, or "feature". Let me know If I should slow down on bug reports/feature requests.

## Possible way to fix this
Add an option to the "Help center" section of this plugin, that allow

[2019-11-27 10:20] allanrehhoff commented on #77
Just found that this button/section can be found using the following CSS

`/** Hide the "Help beacon" */
#yoast-helpscout-beacon {
	display: none;
}`

[2019-11-28 10:38] senlin commented on #77
Hi Allan,

Thanks for showing this new issue! Not a problem at all that you're opening issues, it is quite obvious that I simply cannot keep up with the release schedule of Yoast!

Just to clarify

With this you mean you would expect the help beacon to be hidden by default, correct?

Hopefully over the weekend I can come with an update, many thanks for already providing the CSS!

[2019-11-28 12:51] allanrehhoff commented on #77
Yes that is what I meant. English isn't my main language, so translation issues can happen.

Thanks for looking into it.

[2020-01-09 10:10] senlin commented on #77
@allanrehhoff

Hi Allan, happy new year!
Sorry for the late commit, but better late than never, right?
The new release will soon be available in the WP Repo too.
Cheers,
Pieter

[2020-01-09 10:10] #77 closed

[2020-01-30 09:41] allanrehhoff opened #79 "Help Beacon, got a new class and is now more invasive."
Team YOAST is at it again, adding more unwanted and invasive "features"

The help beacon has gotten a new class in one of the recent versions of YOAST Seo, which creates another "popup" and in some cases even hinder the use of their "Redirects" tool (Part of Premium version)

See issue #77 for reference.

## Expected behavior
The help beacon is hidden.

## Current behavior
The beacon pops up with

[2020-01-30 10:27] senlin commented on #79
@allanrehhoff
Hi Allan, thanks for the report. I tried replicating it on my dev install, but cannot see anything. At first I thought it had to do with the fact that the site was running on ClassicPress and it seems that Yoast is now fully incompatible with that, but even after switching back to WP, the big questionmark only becomes visible when I deactivate the Hide SEO Bloat plugin. And the new p

[2020-01-30 11:00] allanrehhoff commented on #79
Hi Peter.

Did some further investigation, it turns out that this popup is a "premium feature" (I'm at a loss of words here...)

The help beacon is in fact hidden in the regular versions of YOAST Seo, but has this other class name in the permium version.

Though I have tested the above fix, so if you're willing to take my word for it, you should be able to safely add it to the next update.

Otherw

[2020-01-30 11:29] senlin commented on #79
Hi Allan, I do take your word for it, but to be honest I am not going to add things that only exist in the premium version of the plugin, that simply does not make sense for me.
So I will indeed close it, sorry for that, but at least it is documented for if others run into it.
Thanks for reporting it nevertheless!
Pieter

[2020-01-30 11:29] #79 closed

[2020-02-18 15:19] or128 opened #81 "Plugin negates plugin updates"
Hello,
While this plugin is enabled I do not see any plugin updates offered up at the plugins interface.
After disabling it, the plugins suddenly have uptakes available.

I am not sure what more information I could give.
Before the latest version was released the plugin just somehow canceled the red budge on the plugin menu item, but after the recent update having it enabled completely blocks upda

[2020-02-18 15:21] senlin commented on #81
Can you please send a before/after screenshot so I know where to look?

[2020-02-18 16:03] or128 commented on #81
I am not sure how to comply with your request.
If the plugin is active I will not see that there are updates for plugin.
After I disable it, suddenly the plugins interface show that plugins have updates.
The plugin also hides the budge that appears on the plugins menu item and is suppose to notify you that updates are available.

[2020-02-18 16:42] senlin commented on #81
Okay, this one I indeed see happening now, that is strange and I will fix that soon

This one I cannot replicate, see this screenshot where you can clearly see that there are updates available.

![screenshot](https://monosnap.com/image/JwertMO66hjlvAbjfgJ9j1rRGJJkk2)

[2020-02-18 16:59] or128 commented on #81
I see, let me test a bit more for a few days, but it's good you can fix the first issue. thanks.

[2020-02-21 08:32] or128 commented on #81
You are correct, there in no issue.

[2020-02-25 19:41] senlin commented on #81
Just released new version that fixes this issue, thanks for reporting.

[2020-02-25 19:41] #81 closed

[2020-05-17 12:05] remaindeer opened #83 "[feature request] Hide upsell after product deletion"
After I delete a product (using WooCommerce), Yoast spams my Product overview page with an upsell. I saw that [a similar feature request](https://github.com/senlin/so-clean-up-wp-seo/issues/44) was created for posts but I wanted to create a new one since I'm still seeing it.

The css classes of the notification are: `yoast-notification notice notice-warning is-dismissible`

## Screenshots
![yoast]

[2020-05-17 19:45] senlin commented on #83
Hi Kagan, thank you, good catch!

I will need to see this in action, because I'm afraid that if I block any of the classes you so kindly added, a lot more will be hidden, also useful notifications :)

You say this also happens on posts?

I will run it on one of my test setups and see what I cn come up with. Once I do, I will share an update here of course.

[2020-05-18 19:05] remaindeer commented on #83
I'd like to thank you for all the work you've put into this plugin!

I just checked and indeed, the spam does come up when you delete posts too:

![spam](https://user-images.githubusercontent.com/402154/82250204-4fe18c80-994b-11ea-9abc-78967ce8241d.png)

Looking forward to seeing you recreate it!

[2020-05-20 14:08] senlin commented on #83
@remaindeer

Hi Kagan, just released the new version that hides the notices you reported.

Closing this issue now, feel free to re-open if you discover some issue(s) with it.

[2020-06-12 13:33] senlin commented on #83
A user on the WP.org forums just reported that the ads are showing again.

I suspect that in the new Yoast version, they changed the class (again) or something like that...

Will try to find and release another fix/update.

No availability in the next week(s) so PRs are welcome!

[2020-07-27 11:18] allanrehhoff opened #85 "New premium upsell ad in social tab"
The YOAST Team has added a new upsell ad under the social tab.
It's not an area I suspect most people will ever use, but for someone (like me) that is very conservative about what they want to see in their backend, this is a big deal.
See attached screenshot.

## Expected behavior
A checkbox/setting to remove this new ad.
Or it to be included in the "Premium Upsell Admin Block" setting.

## Curren

[2020-07-27 11:45] senlin commented on #85
Thanks for your report @allanrehhoff I will try to add it this week and update this ticket accordingly.

[2020-08-01 10:37] senlin commented on #83
Cannot reproduce the issue, closing

[2020-08-01 10:37] #83 closed

[2020-08-01 10:55] senlin commented on #85
released 3.14.1 many thanks @allanrehhoff !

[2020-08-01 10:55] #85 closed

[2020-08-01 12:02] senlin commented on #83
Turned out to be that **taxonomy deletion** also triggers this upsell, so included a rule for that, release 3.14.2

[2020-08-11 21:08] senlin opened #88 "Fatal error after updating to WP 5.5"
There have been reports of a Fatal Error occurring after updating WP to version 5.5

## Expected behavior
Everything works as it should

## Current behavior
[code]

[2020-08-11 21:10] senlin commented on #88
I have tried to reproduce this and so far have not been able to, so if you experience this issue, please give context (theme/plugins/PHP version/anything that might help to get to the core of the problem).

[2020-08-11 21:39] knutsp commented on #88
Please try with the Blocky theme. Reported to Blocksy. Was not a problem under WP 5.4. May be we can find out what kind of interference or collssion this is.

[2020-08-11 21:42] senlin commented on #88
I have tried updating on several sites including live client sites, no problem.

Sorry, I don't think that I have to test a plugin with each and every theme out there.

[2020-08-11 21:47] andreiglingeanu commented on #88
Hi @senlin,

One of the Blocksy developers here. Here I've tried to outline the situation in more details: https://wordpress.org/support/topic/fatal-error-with-wp-5-5-and-spcific-plugin/#post-13239538

It looks like in your implementation if `remove_class_hook()` you don't consider the case that a hook can be an anonymous function.

Our admin notices are added like this:

[code]

I understand that

[2020-08-11 21:48] knutsp commented on #88
You don't have to do anything. I sometimes do things I don't have to, because it's interesting, learning, and helping our users. The trace seems to indicate this plugin does something that triggers it.

I may report back here if I find out what is happening, with how many themes or other plugins. But I don't have to.

[2020-08-11 21:49] senlin commented on #71
@Dibbyo456 - Hi Harry, this function seems to cause issues after updating to WP 5.5

Please see #88 as well as https://wordpress.org/support/topic/fatal-error-with-wp-5-5-and-spcific-plugin/#post-13239538

[2020-08-11 21:50] andreiglingeanu commented on #88
Thanks for the work on reporting this both ways @knutsp. I'm happy to contribute a solution to the matter if @senlin is willing to accept & release it.

[2020-08-11 21:51] Dibbyo456 commented on #71
Thanks for pinging. I haven’t tested anything on 5.5 but I’m looking into it.

[2020-08-11 21:52] senlin commented on #88
@andreiglingeanu - we added that specific function a year ago (https://github.com/senlin/so-clean-up-wp-seo/blob/develop/includes/remove-class.php which contains an explanation). If you know of another way of making that specific function work, then by all means; I'd be happy to release your patch.

[2020-08-11 21:54] senlin commented on #88
The author (@Dibbyo456) of the function is also https://github.com/senlin/so-clean-up-wp-seo/issues/71#issuecomment-672297686.

[2020-08-11 21:55] andreiglingeanu commented on #71
@Dibbyo456 @senlin Can be reproduced by putting this anywhere (`functions.php` of the active theme will do):

[code]

[2020-08-11 22:07] andreiglingeanu commented on #71
@senlin @Dibbyo456 just created a PR with the solution that seems fit [here](https://github.com/senlin/so-clean-up-wp-seo/pull/89). Will be happy to change it according to your remarks.

[2020-08-11 22:09] #88 closed

[2020-08-11 22:09] Dibbyo456 commented on #71
So, what exactly changed in wp 5.5 that’s breaking previous version?

[2020-08-11 22:12] senlin commented on #88
Many thanks @andreiglingeanu for your patch. I will soon release the patch over at WP.

[2020-08-11 22:13] senlin commented on #71
Yeah it is late here too, but thanks to @andreiglingeanu no more need to dig :)

[2020-08-11 22:14] knutsp commented on #71
I can confirm that adding an action to 'admin_notices' using a closure, in any theme (it seems), triggers this fatal.

[2020-08-11 22:16] Dibbyo456 commented on #71
Can you reproduce it with 5.4?

[2020-08-11 22:18] andreiglingeanu commented on #71
@Dibbyo456 No, can't reproduce with 5.4.

They introduced this `is_object()` check in 5.5: https://github.com/WordPress/WordPress/blob/dc63fb7c85598d1a0eb6b4000616bab052247837/wp-includes/class-wp-list-util.php#L113

[And a closure is indeed an object :/](https://share.getcloudapp.com/nOuk8Py8)

[2020-08-11 22:29] #71 closed

[2020-08-11 22:30] senlin commented on #88
WP 3.14.3 released over at WP, thanks again @andreiglingeanu

[2020-09-23 07:07] allanrehhoff opened #91 "Other YOAST plugins compatibility/features?"
Hey.

Not sure if it's within the scope of this plugin, so please let me know if it's a wontfix. :)
But otherwise I think it'd be great to implement some kind of compatibility layer if other certain YOAST plugins are active.

**The problem**
YOAST Recently consumed, something that used to be a decent plugin, 'Duplicate Post' and is now called 'Yoast Duplicate Post'
The YOAST Team adds new "feature

[2020-09-23 08:13] senlin commented on #91
Hi @allanrehhoff

I hear you and although I understand what you mean, this promotion is "only" to sign up for an email newsletter, not to sell anything like the Yoast SEO plugin does.

If I would add this to the Hide SEO Bloat plugin now, then that will open the floodgates to add anything and everything Yoast does, which in turn would mean that I would have to scour the internets on a daily basis

[2020-09-23 16:19] allanrehhoff commented on #91
Yeah I can definitely follow that logic.

Maybe someday someone will be up for undertaking such a daunting task.

[2020-09-23 17:04] #91 closed

[2020-12-22 13:50] Emanuel-23 opened #93 "Hidden SEO columns reappear after quick-edit & break column layout"
When using "quick edit" in a post types list view with enabled setting for hiding the SEO columns in lists, the hidden columns reappear after you have clicked "save".
The output of such columns will contain random data (maybe some kind of raw data). Moreover the layout will break until you refresh the site, because the column `<td>` elements will be added but not their corresponding `<th>`, so the

[2020-12-22 21:13] senlin commented on #93
Hi Emanuel,
Many thanks for your detailed report.
I will need some time to investigate this too, which I can do in the next few days.
If you discover something in the meantime, please update this ticket accordingly.
Thanks,
Pieter

[2020-12-23 11:59] senlin commented on #93
@Emanuel-23
I tried reproducing this on one of my sandbox site, but I cannot.
Could it be related to the theme you're using on that site or perhaps a conflict with another plugin?

[2021-01-26 23:22] dbowman opened #94 ""Hide the ads" setting adds a CSS rule that needs more specificity"
## Expected behavior
CSS injected into wp_head should be specific enough so that it doesn't affect UI from other plugins or other parts of WP.

## Current behavior
When "Hide the ads" checkbox is enabled, this selector is added to the CSS in wp_head:

`.react-tabs__tab:last-child`

That selector currently matches tabs rendered by other plugins unrelated to Yoast.

## Possible solution
Add a tiny b

[2021-01-27 10:56] senlin commented on #94
Hi Doug, thanks for your report.

Can you tell me (or show a screenshot) of which tab from the metabox plugin goes missing exactly?

I installed the Meta Box plugin (https://wordpress.org/plugins/meta-box/) which does not come with any admin screen or settings, so a little clarity would be appreciated.

[2021-01-29 00:07] dbowman commented on #94
Sorry for my own lack of specificity. Meta Box has quite a few extensions available, many of them premium. [Builder](https://metabox.io/plugins/meta-box-builder/) is one of them that allows you to visually construct new meta boxes without code, similar to how ACF operates. Meta Box **just** released v4 of Builder a few days ago, which was rebuilt entirely in React. Thus this newly found conflict.

[2021-01-29 09:40] senlin commented on #94
Hi Doug, thanks for clarifying.
Yes please send the login details to the email address in my profile here, so I can have a look for myself. I have to admit that I know next to nothing about React, so the easiest option probably is to remove the `.react-tabs__tab:last-child` selector from the plugin. That would mean that the question mark of the Yoast SEO Help Center will show, and so be it I guess

[2021-02-01 22:43] Emanuel-23 opened #95 "Change so_cuws_remove_frontend_html_comments implementation"
While it has been the only way to remove the yoast seo comments a long time period, it is NO longer needed to use preg_replace to remove the ugly html comments from the dom.

so the function in `so_cuws_remove_frontend_html_comments` in  `class-so-clean-up-wp-seo.php` could be easier when just using the yoast filter. (see more details below).

Interesting fact: at least in my case with the `roots/

[2021-02-01 22:54] Emanuel-23 commented on #93
sorry to be late on this.

I use `roots/bedrock` (wordpress boilerplate) with `roots/sage` (starter theme), see https://roots.io/ for more information.
Note that the theme I use, is NOT the well documented version 9 but the version 10 which itself depends on roots/acorn, see https://github.com/roots/sage.
Id suggest you to give it a try (anyways), because thats a stack one can work with when devel

[2021-02-03 12:27] senlin commented on #94
As per our correspondence, I will remove the `.react-tabs__tab:last-child` setting from the plugin in an upcoming version. Many thanks for making the site available to dabble around in!

[2021-02-03 12:51] senlin commented on #93
Thanks for the tip on roots! I will close this issue now, but feel free to re-open it if you have found the culprit.

[2021-02-03 12:51] #93 closed

[2021-02-03 12:53] senlin commented on #95
Thanks for the suggestion to simplify this. Do you know which version this filter was added? That would be needed to make this function a conditional one :)

[2021-02-03 17:18] senlin commented on #94
new version released on wp.org
thanks for your help Doug!
closing issue

[2021-02-03 17:18] #94 closed

[2021-02-04 17:10] senlin commented on #95
@Emanuel-23

So the filter was added on version 14.1. I have been trying to pull out the plugin data with the `get_plugin_data()` function ([source](https://developer.wordpress.org/reference/functions/get_plugin_data/)), but to no avail as for some reason that only outputs the text-domain...

If you have any ideas on how to implement this condition then I would like to suggest you do a PR.

Thanks

[2021-02-04 17:43] senlin commented on #95
Found it actually by using the constant `WPSEO_VERSION`. New version will be released soon, thanks for the tip.

[2021-02-04 17:43] #95 closed

[2021-02-23 12:37] senlin commented on #95
see [this comment](https://github.com/senlin/so-clean-up-wp-seo/commit/441613bd83ee59882cfff4859b0b2c4f8fdb209a#r47454525); improved the filter with suggested `version_compare()` and released 3.14.7

[2021-04-23 14:58] chrisvanpatten opened #99 "Option to hide Cornerstone Content filter"
It'd be great to have a checkbox option (likely off by default) to hide the Cornerstone Content filter link on list tables.

## Expected behavior
n/a

## Current behavior
n/a

## Possible way to add this
A checkbox!

## Screenshots
<img width="426" alt="Screen Shot 2021-04-23 at 10 56 56 AM" src="https://user-images.githubusercontent.com/1231306/115890270-c374ff00-a422-11eb-8435-82edc75c8251.png">

[2021-04-23 15:03] senlin commented on #99
Hi Chris,
Thanks for the suggestion.
Doesn't Yoast already come with that option in the settings?
https://yoast.com/help/disable-cornerstone-content/

[2021-04-23 15:06] chrisvanpatten opened #100 "Hide Gutenberg upsells"
There are a few upsells in the Gutenberg UI which I believe can be hidden.

## Expected behavior
Maybe a new checkbox or option to hide Gutenberg UI upsells.

## Current behavior
n/a

## Possible way to add this
Enqueueing a stylesheet on Gutenberg pages via `enqueue_block_editor_assets` with the following CSS should do the trick:

[code]

Note that the caret attribute selector is necessary becaus

[2021-04-23 15:12] senlin commented on #100
Thanks Chris, will have a look at this soon

[2021-04-23 15:15] chrisvanpatten commented on #99
@senlin Sure enough, totally missed that. Thanks!

[2021-04-23 15:15] #99 closed

[2021-06-28 07:00] allanrehhoff opened #101 "Hide Social Settings 'Unlock with Premium' upsell"
## Summary

YOAST Seo has a new unwanted ad for upselling thei rpremium version, (see screenshots section)

This is a well hidden hidden, and not often located ad, but it just seems unproffessional delivering a product containing ads to my clients.

## Steps to reproduce
1. Log in to WordPress
2. Navigate to SEO > Content Types
3. Scroll down to the 'Social Settings' area

## Expected behavior
A f

[2021-06-28 16:57] senlin commented on #101
Hi Allan, thank you for your helpful report, I will be adding it to a new version.

[2021-07-05 13:10] senlin commented on #100
Hi Chris, apologies I haven't yet addressed this. Looking into it now, but I think things work quite differently now?

![premium-upsell-component](https://user-images.githubusercontent.com/650066/124476443-b7021080-dd9a-11eb-9908-c5dd89ce6005.jpg)

[2021-07-05 13:16] senlin commented on #101
Hi Allan (@allanrehhoff ),

Looking into this now, but I don't see the social settings area:

<img width="430" alt="Search Appearance - Yoast SEO ‹ WP DEV — WordPress 2021-07-05 14-13-53" src="https://user-images.githubusercontent.com/650066/124477029-7060e600-dd9b-11eb-8d1e-7ccfb7d7a811.png">

[2021-07-05 16:41] allanrehhoff commented on #101
Hey Peter

Are you sure you have the latest version?

I just installed the plugin on another site, and I can still find it.

![Screenshot_20210705-183941](https://user-images.githubusercontent.com/24595705/124500735-92b92a80-ddc0-11eb-8e7c-4fd3e8d3982f.jpg)

- Allan

[2021-07-06 09:09] senlin commented on #101
Hi Allan,
Yes I have the latest version. In my test env I only have 2 plugins activated: Yoast SEO and Hide SEO Bloat. Even if I deactivate the latter, I cannot see the social settings. I have filled in a Facebook URL to see if that changes anything, but it doesn't either.
Could it be related to another plugin?

[2021-07-29 12:22] senlin commented on #101
Closing due to no further info. Please re-open if there become more details available.

[2021-07-29 12:22] #101 closed

[2021-07-29 12:23] senlin commented on #100
Closing due to no further info. Please re-open if there become more details available.

[2021-07-29 12:23] #100 closed

[2021-08-09 11:04] senlin opened #102 "Remove Workouts (premium)"
Remove the new “Workouts” from navigation admin.php?page=wpseo_workouts

See https://wordpress.org/support/topic/remove-workouts-premium/

## Possible way to add this
[code]

[2021-08-16 13:05] #102 closed